[2018-05-24 11:50] gazhayes opened #8 "Problem: Uncaught TypeError: addProblem.call is not a function at Object.submit"
Problem: on [/new] I'm getting Uncaught TypeError: addProblem.call is not a function.

addProblem is a ValidatedMethod and is defined in /imports/api/documents/both/problemMethods.js

[2018-05-24 12:18] AshHimself opened #10 "problem: typo in readme causing new contributors fail pulling from master"
problem: problem: typo in readme causing new contributors to not pull from master

solution: should be pulling from git://github.com/emurgoHK/emurgis not git://github.com/emurgo/emurgis

[2018-05-24 12:26] AshHimself commented on #8
@gazhayes are you expecting this to all work? As the way the code is now it won't insert any problem unless I do above and beyond the original issue :)

[2018-05-24 14:26] samuelralak commented on #8
@AshHimself am getting the below error in my console

[2018-05-24 14:27] AshHimself commented on #8
?? Not pushed anything yet. The power to my house has just gone out :/

[2018-05-24 14:30] samuelralak commented on #8
@AshHimself sorry about that chief. I have updated my initial comment as well.

[2018-05-24 14:31] AshHimself commented on #8
Yep its all been fixed. Will push when I have power :D

[2018-05-25 05:50] gazhayes opened #11 "Problem: no auth system"
Problem: users should be authenticated before being allowed to log issues etc. All users must have a @emurgo.io email account to sign up.

[2018-05-25 05:53] gazhayes opened #12 "Problem: too much boilerplate code in project"
Problem: I started this project with boilerplate code that uses autoform, allow/deny rules, etc, there's a lot of unnecessary code.

Solution: remove anything that isn't required to add and view problems.

[2018-05-25 05:54] samuelralak commented on #11
Will email verification be required for emurg.io accounts?

On Fri, 25 May 2018 at 08:50, Gareth Hayes <notifications@github.com> wrote:

[2018-05-25 06:15] gazhayes commented on #11
Yeah it will. We could use sparkpost or whatever

[2018-05-26 00:13] AshHimself commented on #8
@gazhayes Fixed in #13

Created another issue for related issues I found whilst resolving that also need resolving.

[2018-05-26 00:14] AshHimself opened #14 "Problem: [ / ] Problems are not displayed when added"
Problem: [ / ] Problems are not displayed when added

Solution: Display Problems on main page when they are added. Possibly use a table package so they can be filtered/paginated easily.

@gazhayes

[2018-05-26 00:39] gazhayes commented on #14
Better off using cards + filters rather than a table, just because it will be easier to scale etc.

[2018-05-26 00:57] AshHimself opened #15 "Problem: No theme/style guide for Emurgis"
Problem: No theme/style guide for Emurgis which will ultimately create confusion on how pages should look and feel and possibly create a bad UX.

Solution: Implement a bootstrap 4 admin theme and use as a baseline for all future views.

Examples
https://getbootstrapadmin.com/remark/iconbar/index.html
http://themicon.co/theme/angle/v3.8.9/html5jquery-bs4/app/dashboard.html

[2018-05-26 01:04] gazhayes commented on #15
Great idea, good call. I'll hunt around and choose something today so that we can do this right from the start.

[2018-05-27 00:11] anbud commented on #12
I'll take this, there's quite a lot of unused code, and it'll speed up the process of getting used to the existing codebase.

[2018-05-27 01:26] #8 closed

[2018-05-27 06:53] AshHimself commented on #10
Fixed in #16

[2018-05-27 08:10] #10 closed

[2018-05-27 12:12] samuelralak commented on #11
@gazhayes should the root route (where all problems are displayed) be protected as well?

[2018-05-27 15:37] samuelralak commented on #11
done in [#17](https://github.com/EmurgoHK/Emurgis/pull/17)

[2018-05-27 15:40] samuelralak commented on #11
once merged, will create seperate issues for the following
- emurgo.io email verification
- proper validation error message for non @emurgo.io emails (currently showing internal server when user tries to signup with a non @emurgo.io email)

[2018-05-27 15:49] samuelralak opened #18 "Problem: [/new] Add new problem form input order counter-intuitive"
Problem: The order of input fields from the Add New Problem is counter-intuitive and confusing i.e it starts with a detailed explanation of the problem then summary. A more natural order would be:
- Brief summary or Title
- A detailed explanation of the problem
- Optional description

A good example of such an order is the github issues. I would propose that a similar format should be followed.

p

[2018-05-27 15:56] samuelralak opened #19 "Problem: [/new] Nothing happens when user clicks submit"
Problem: When user submits the new problem, no other action is performed informing the user that the form has been submitted/saved or failed validation which would lead the user to assume that the operation failed or simply the form does not work.

Solution: Notify the user if the operation was successful/failed on submit and possibly redirect to different page upon success. Possible pages to redi

[2018-05-27 23:48] gazhayes commented on #18
I know it looks strange, but the intention is to make people think through the problem first (when they write the detailed description) and then the summary should be much clearer.

I agree that it looks weird though. The other thing we could do is have a confirmation type page displaying everything they have entered  (as say, step 2) and the summary can be added on that page.

[2018-05-27 23:53] gazhayes commented on #11
@samuelralak it just occurred to me that emurgo uses Google apps to handle their email so we can probably use mdg:accounts-google. I'm just not sure if it's possible to restrict it to *@emurgo.io Google accounts though.

[2018-05-28 01:09] AshHimself commented on #14
Will hold off this until @anbud is done his cleanup as these views are filled with boiletplate.

[2018-05-28 08:29] samuelralak commented on #18
aah I see. this makes more sense now

Having two steps for such a simple would  be overkill, we could either leave it as it is or have the summary as the very last input, below the option textbox. We could always get feedback from users.

[2018-05-28 08:37] gazhayes commented on #19
The best thing to do here is probably just direct users to the detail page for that problem (which doesn't exist yet).

There shouldn't be any errors other than stuff that can be shown in-line, the only real thing so far is a missing compulsory field.

[2018-05-28 08:38] samuelralak commented on #11
@gazhayes in that case we could use `accounts-google` instead of an email/password login set up. that way it would be easier to verify an `@emurgo.io` account without sending verification emails/codes.

[2018-05-28 08:47] gazhayes commented on #18
Solved in #22

[2018-05-28 08:50] gazhayes commented on #11
Ah yeah ok, that's better.

This introduces one small issue however that also has to be addressed (but can be logged as a new issue after):  developers who don't have an emurgo.io account will still need a way to log in.

[2018-05-28 08:50] #11 closed

[2018-05-28 08:53] gazhayes opened #23 "Problem: logging in with emurgo.io email account is annoying"
Problem: users currently have to use an emurgo.io email account to signup/log in. The process is very manual, users have to type in their email address and verify the email.

Possible solution: use the 'accounts-google' package instead.

This will introduce a new problem which can either be fixed at the same time or logged as a new issue: developers need to be able to log in without an emurgo.io a

[2018-05-28 08:53] gazhayes commented on #23
Ping @samuelralak

[2018-05-28 09:05] #18 closed

[2018-05-28 09:06] samuelralak commented on #23
claiming this one

[2018-05-28 09:10] gazhayes opened #24 "Problem: freelancers can't self-assign issues"
Problem: freelancers cannot self-assign issues and set labels.

Solution: impliment emurgobot to allow users to claim issues and set labels.

[2018-05-28 09:11] gazhayes commented on #23
If you need an emurgo.io mail account just email me privately and I'll send you one.

[2018-05-28 10:06] anbud commented on #12
Done in #25. I've removed everything I could without compromising the current functionality.

[2018-05-28 16:54] anbud commented on #14
@AshHimself, you can continue with this as I've cleaned up the code, but I believe this started working after the cleanup, please check it out.
It'll probably need UI work though.

[2018-05-29 00:28] geekyd opened #26 "Problem: no redirect to login if user clicks on add problem"
Problem: no redirect to login if user clicks on add problem

Solution: The page should redirect to login if the user is signed out.

[2018-05-29 00:28] geekyd commented on #26
Claiming this. :)

[2018-05-29 02:33] gazhayes commented on #14
FYI the pub/sub stuff wasnt working before but I did it in #21

[2018-05-29 04:31] gazhayes commented on #14
Hmmm, well send it anyway because you probably caught something else.

It's working for me locally though.

[2018-05-29 08:50] samuelralak commented on #23
some UI work will be needed here. possibly after @geekyd makes a PR for  [#76](https://github.com/EmurgoHK/Emurgis/issues/26)

[2018-05-29 08:54] samuelralak opened #28 "Problem: developers cannot login without an emurgo.io account"
Problem: @emurgio.io accounts are currently required to login; logging in using an email with a different domain will fail. We need to allow developers who do not have an @emurg.io account access the software as well.

[2018-05-29 08:56] samuelralak commented on #28
@gazhayes I may be wrong but this may involve maintaining a list of known developers somewhere in the backend. We cannot just grant access to anyone claiming to be a developer

[2018-05-29 09:01] samuelralak opened #29 "Problem: user login bad UI/UX"
Problem: We currently have the login with gmail button on the top navbar which looks quite untidy and out of place. It doesn't blend in with the current UI.

Solution: Replace the gmail login button with a sign in link. Have a better message displayed to users when a login attempt fails instead of the current `Internal Server Error`

[2018-05-29 09:05] gazhayes commented on #28
Let's just use demo accounts that we can share with developers we already trust. That one I sent you is one and the other is devtest2

This way we can have a moderator and user demo account.

[2018-05-29 09:07] gazhayes commented on #28
Though we can probably allow unverified email sign up too if some env var is true (DEV=true) or whatever. I'm not sure how that works on Windows though.

[2018-05-29 09:07] samuelralak opened #30 "Problem: [/documentEdit] Problems not editable"
Problem: Clicking on the edit button on  a problem redirects to an empty page

Solution: redirect users to an edit form when the edit button is clicked. disallow other users other than the owner to edit the problem.

[2018-05-29 09:11] samuelralak commented on #28
We could check `process.env.NODE_ENV` - if its set to `development`, we can allow unverified emails to login/signup

[2018-05-29 09:15] gazhayes commented on #28
There we go, that will work.

[2018-05-29 09:16] samuelralak commented on #28
cool. working on it

[2018-05-29 09:41] gazhayes opened #31 "Problem: users cannot claim issues"
Problem: users cannot claim issues.

[2018-05-29 09:42] gazhayes opened #32 "Problem: users cannot comment on issues"
Problem: users can't comment on issues.

[2018-05-29 09:45] gazhayes opened #33 "Problem: users cannot add dependencies"
Problem: users can't create nested issues (cannot add dependencies).

The solution to this should allow unlimited levels of nesting (by having dependencies on issues that have dependencies). It should also prevent circular dependencies because this will cause problems in the UI later when viewing as some kind of tree showing all issues.

[2018-05-29 11:40] samuelralak commented on #28
fixed in [#34](https://github.com/EmurgoHK/Emurgis/pull/34)

[2018-05-29 11:42] samuelralak commented on #30
Claiming this

[2018-05-29 11:49] samuelralak commented on #19
We should probably display validation errors as well
<img width="1257" alt="screen shot 2018-05-29 at 2 47 40 pm" src="https://user-images.githubusercontent.com/4476552/40657142-6a89fca4-634f-11e8-8a25-b77a8aeac448.png">

[2018-05-29 12:13] gazhayes commented on #19
Yeah, use inline bootstrap errors. I think that's being used on /addcoin for blockrazor so might be able to use that for reference.

[2018-05-29 12:17] AshHimself commented on #31
Claim (no pun intended)

[2018-05-29 12:53] AshHimself commented on #31
Fixed in #35

@gazhayes - i'll create a few more issues on top of this one and we can flesh out how the claim process can be viewed/reverted etc.

[2018-05-29 12:54] AshHimself opened #36 "Problem: unable to unclaim an issue"
Solution: Add functionality to unclaim an issue once claimed.

[2018-05-29 12:55] AshHimself opened #37 "Problem: Unable to view who claimed an issue"
Solution: Update the view screen of problems to display who claimed an issue. Possibly add this to the index of the app as well.

@gazhayes - Any other places?

[2018-05-29 12:58] gazhayes opened #38 "Problem: no CI test framework"
Problem: tests cannot be written, and CI testing cannot be used.

Solution: implement mocha testing

ping @anbud

[2018-05-29 13:57] AshHimself opened #39 "Problem: Normalise users name when creating a problem"
Solution: Capture the the users name in problem table when raising a problem thus allowing mongoDB queries.

@anbud - This the best way to do it as apposed to creating a helper and looking up the users table every single time.

[2018-05-29 14:03] #28 closed

[2018-05-29 14:03] samuelralak commented on #19
claiming this

[2018-05-29 14:03] AshHimself commented on #37
Claim

[2018-05-29 14:06] samuelralak commented on #30
done in [#40](https://github.com/EmurgoHK/Emurgis/pull/40)

[2018-05-29 14:15] AshHimself commented on #37
Fixed in #41

[2018-05-29 14:18] AshHimself commented on #36
Claim

[2018-05-29 15:45] anbud commented on #38
Should I also implement WDIO + Mocha for client side tests?

Claim.

[2018-05-29 20:26] anbud commented on #39
@AshHimself, both approaches have good and bad sides.

Doing it like you've described uses a little bit more storage and doesn't react to username changes, but it is more optimal performance-wise as it's not querying the database every time.

Saving only user's `_id` and querying the username after needs a subscription and uses a little bit more resources, but it does react to username changes.

S

[2018-05-29 23:34] gazhayes commented on #38
Client side can come later, this particular system probably won't grow very large.

[2018-05-30 04:08] gazhayes opened #43 "Problem: UI is not updated after login"
Problem: when logging in with Google, the UI still asks users to sign in, both on the login page and also in the nav bar.

This is probably deeper than a UI issue because I've discovered a whole lot of other issues that could be related to a user not really being signed in, or possibly a broken google-login package.

[2018-05-30 04:09] gazhayes opened #44 "Problem: no redirection after login"
Problem: when users log in with Google, they are still stuck on the login page and asked to log in.

Probably related to #43

[2018-05-30 04:12] gazhayes opened #45 "Problem: login and signup fields exist"
Problem: the UI suggests to users that its possible to log in or create an account without using Google sign in when this is not actually the case.

Solution: remove all log in and sign up UI elements, the only one that should remain is log in with Google.

[2018-05-30 04:17] gazhayes opened #46 "Problem: description is no longer added to collection"
Problem: issue descriptions are no longer added to the mongo collection. This was working before.

[2018-05-30 04:19] gazhayes opened #47 "Problem: new issues are deleted from mongo on page refresh"
Problem:
1. Add a new problem.
2. Go to the home route.
3. Problem exists.
4. Refresh page.
5. Problem no longer exists and is removed from the collection.

I haven't checked if this is just being saved to a local collection and cleared on refresh, or if there's some weird bug actually deleting it. It could also be related to the weird login bug in #43

[2018-05-30 06:49] AshHimself commented on #30
@samuelralak I think you deleted my new claimProblem method unintentionally. Can you fix this, just went crazy wondering where it went as I swore I did it last night :)

[2018-05-30 06:57] samuelralak commented on #30
oh man, am very sorry about that chief. they must have been deleted when I
did a git rebase. fixing that immediately. am very sorry mate.

On Wed, 30 May 2018 at 09:49, Ash Smith <notifications@github.com> wrote:

[2018-05-30 07:00] AshHimself commented on #46
@samuelralak - I think this may be related to your PR as well mate..

[code]

[2018-05-30 07:02] samuelralak commented on #46
right. claiming this.

@AshHimself from which PR were your changes deleted?

[2018-05-30 07:02] AshHimself commented on #46
https://github.com/EmurgoHK/Emurgis/pull/41

[2018-05-30 07:03] samuelralak commented on #46
thanks

[2018-05-30 07:39] samuelralak commented on #46
fixed in [#48](https://github.com/EmurgoHK/Emurgis/pull/48)

[2018-05-30 07:44] samuelralak commented on #30
@AshHimself when merged, please confirm whether [#48](https://github.com/EmurgoHK/Emurgis/pull/48) fixes whats missing. Went through [#35](https://github.com/EmurgoHK/Emurgis/pull/35) and [#41](https://github.com/EmurgoHK/Emurgis/pull/41) line by line. Found

[2018-05-30 09:58] anbud commented on #38
Implemented in #49.

[2018-05-30 10:05] anbud commented on #45
Claim.

[2018-05-30 10:08] samuelralak commented on #45
Andrej this is already fixed. Havent made a PR yet

On Wed, 30 May 2018 at 13:05, Andrej Budinčević <notifications@github.com>
wrote:

[2018-05-30 10:10] anbud commented on #45
Heh, ok, I'm leaving it for you then. :)

[2018-05-30 11:11] AshHimself commented on #36
Fixed in #50

[2018-05-30 11:12] AshHimself commented on #36
@gazhayes - Are we expecting to have a dev environment setup for Emurgis so we can ensure all our changes are working in production as well?

[2018-05-30 11:13] AshHimself commented on #32
Claim

[2018-05-30 11:15] gazhayes commented on #36
Yep, I'll deploy a production server over the next few days

[2018-05-30 11:58] geekyd commented on #19
@samuelralak @gazhayes The user should be redirected when the problem is successfully created.

[2018-05-30 12:00] geekyd commented on #47
@gazhayes Same for me, unable to reproduce it.

[2018-05-30 12:03] gazhayes commented on #47
Ok must be local for me

[2018-05-30 12:17] geekyd opened #51 "Problem: Nothing happens when delete button is clicked"
Problem: Nothing happens when delete button is clicked

Solution: Implement deletion of problem on `/` route

[2018-05-30 12:17] geekyd commented on #51
Claiming this :)

[2018-05-30 12:19] geekyd commented on #51
@gazhayes Are we going to use hard delete or soft delete in the application? If we are going to use soft delete what field should we have to check the state?

[2018-05-30 12:41] gazhayes commented on #51
Hard delete. Let's walk on the wild side.

[2018-05-30 13:04] samuelralak commented on #29
done in [#52](https://github.com/EmurgoHK/Emurgis/pull/52)

[2018-05-30 13:04] samuelralak commented on #43
[#52](https://github.com/EmurgoHK/Emurgis/pull/52) should fix this

[2018-05-30 13:12] samuelralak commented on #44
[#52](https://github.com/EmurgoHK/Emurgis/pull/52) fixes this

[2018-05-30 14:08] samuelralak commented on #32
@AshHimself SimpleSchema will check for the existence of the defines keys rather than check for empty strings, so as long as you are - for instance - passing `comment` in
[code]
the validation will always pass even if your input value is empty

[2018-05-30 14:10] AshHimself commented on #32
Of course... makes sense.. i'll checkout blockrazor codebase on how implemented that functionality instead of reinvesting the wheel :)

[2018-05-30 14:55] gazhayes opened #55 "Problem: not enough tests"
Problem: pull requests generally aren't being submitted with tests.

Solution: all pull requests should include tests to ensure the problem they solve doesn't become a problem again later (e.g. if new code breaks it). Client side is not important because users will notice straight away but server side should be tested.

Ping @anbud @samuelralak @ashhimself

[2018-05-30 15:42] samuelralak opened #56 "Problem: [/:problemId/edit] users not notified of validation errors"
Problem: Submitting the edit form doesn't notify the user of any validation failures.

Solution: Notify the user of any validation errors on the login form - use a similar format as the add problem form. Consider the possibility of using a single form for both New and Edit problems.

[2018-05-30 15:48] samuelralak commented on #56
currently working on this one

[2018-05-30 15:52] samuelralak commented on #24
@gazhayes whats the progress on this one? Grant us the power my good sir

[2018-05-30 15:53] samuelralak commented on #15
@gazhayes where are we with the theme?

[2018-05-30 18:07] anbud commented on #55
Agreed, it'll be a lot easier to keep track of errors if tests are written from the beginning.

[2018-05-30 18:10] anbud commented on #47
Yap, this works locally for me as well.

[2018-05-30 18:18] geekyd commented on #55
Agreed

[2018-05-30 18:44] geekyd opened #58 "Problem: name of user absent in claimed message"
Problem: name of user absent in claimed message

![screen shot 2018-05-31 at 12 11 53 am](https://user-images.githubusercontent.com/12807846/40740849-869fa6be-6467-11e8-81a2-e9f4c5ccc87b.png)

Solution: Add the name of user who claimed the issue in the message.

[2018-05-30 18:44] geekyd commented on #58
Claiming this

[2018-05-30 18:44] geekyd commented on #51
Done in #57

[2018-05-30 18:44] #51 closed

[2018-05-30 18:55] geekyd commented on #58
Done in #59

[2018-05-30 18:55] #58 closed

[2018-05-30 19:01] geekyd commented on #33
Claiming this

[2018-05-31 00:03] #47 closed

[2018-05-31 01:36] #36 closed

[2018-05-31 07:14] #19 closed

[2018-05-31 07:15] #30 closed

[2018-05-31 07:15] #29 closed

[2018-05-31 08:13] #55 closed

[2018-05-31 08:13] #46 closed

[2018-05-31 08:20] #45 closed

[2018-05-31 08:21] #44 closed

[2018-05-31 08:21] #43 closed

[2018-05-31 08:30] gazhayes commented on #15
Sorry, I'm playing whack-a-mole :-/

[2018-05-31 08:35] gazhayes opened #60 "problem: solution field is not displayed"
Problem: text added to the solution field is not displayed on the problem detail page.

Solution: add solution field to collection if not already there and add view logic

[2018-05-31 08:40] gazhayes opened #61 "Problem: problem users can claim and unclaim issues from home route"
problem: problem users can claim and edit issues from the home route. This is a problem because people might be inclined to claim issues without fully reading them (and the comments).

[2018-05-31 08:40] gazhayes opened #62 "problem: users cannot claim and unclaim issues from problem detail page"
problem: users cannot claim and unclaim issues from problem detail page

[2018-05-31 08:41] gazhayes opened #63 "problem: users cannot edit problems from the problem detail page"
problem: users cannot edit problems from the problem detail page

[2018-05-31 08:48] gazhayes opened #64 "problem: no status tag for problems"
Problem: there's no status tag to indicate the current status of problems.

When a problem is claimed, it should automatically be given the "In progress" status.
When a user resolves an issue, it should be tagged as "ready for review" so that the creator of the project can then either "close" the issue or mark it as "open" again. Once closed, the issue should simply be tagged as "closed" and the U

[2018-05-31 08:50] gazhayes opened #65 "Problem: user not redirected after editing a problem"
Problem: user not redirected after editing a problem

solution: direct user to the problem detail page after editing a problem.

[2018-05-31 08:52] gazhayes opened #66 "Problem: users can delete issues from home route"
Problem: users can delete issues from home route. This is a problem because they might delete something that has updated information.

solution: It should only be able to be deleted from the problem detail page.

[2018-05-31 09:27] #56 closed

[2018-05-31 09:28] samuelralak commented on #65
[#67](https://github.com/EmurgoHK/Emurgis/pull/67) resolves this

[2018-05-31 09:29] samuelralak commented on #63
claim

[2018-05-31 09:36] gazhayes commented on #24
ping @anbud

I've created the emurgobot user, and the emurgobot repo with the right config.

What's left is doing github webhooks and secret.json

Blockrazorbot is running on 104.128.239.126 and emurgobot can be deployed there too (it's actually already there in the ~/ directory.

Credentials:
104.128.239.126 [same as before, this is the old host for blockrazor.org]
emurgobot github password: conc

[2018-05-31 09:55] geekyd commented on #61
claim

[2018-05-31 09:58] samuelralak commented on #63
fixed in [#68](https://github.com/EmurgoHK/Emurgis/pull/68)

[2018-05-31 10:16] samuelralak commented on #60
@gazhayes the solution field is already present for new problems. just a mtter of adding it to the details page

[2018-05-31 10:17] samuelralak commented on #60
claim

[2018-05-31 10:31] anbud commented on #24
I'm on it. :)

[2018-05-31 10:43] gazhayes opened #69 "problem: google authentication not working in production"
Problem: I've deployed emurgis.org temporarily, it's literally a mainboard sitting on a desk and will probably go down from time to time, but over the coming days things will become more stable.

Google login isn't working and the usual token setup doesn't show up. There are no console or server errors to indicate what's happening.

If necessary I'll update the relevant auth collections with the g

[2018-05-31 10:46] anbud commented on #24
@emurgobot claim

[2018-05-31 10:47] anbud commented on #24
@emurgobot label "done"
@emurgobot remove "in progress"

It seems to be working fine. :)

[2018-05-31 10:48] anbud commented on #24
@emurgobot label "done"

[2018-05-31 10:49] anbud commented on #24
@emurgobot remove "in progress"

[2018-05-31 10:57] gazhayes commented on #15
I purchased Remark.

It can be stolen from here: https://github.com/EmurgoHK/resources

[2018-05-31 10:58] anbud commented on #24
@emurgobot label "done"

[2018-05-31 11:01] anbud commented on #24
It seems to be working fine.

[2018-05-31 11:03] geekyd commented on #66
fixed in #70

[2018-05-31 11:04] geekyd commented on #62
fixed in #70

[2018-05-31 11:04] geekyd commented on #61
fixed in #70

[2018-05-31 11:04] gazhayes commented on #15
OK it's here instead: https://www.dropbox.com/s/i5dpy3x43slw8wa/themeforest-11989202-remark-responsive-bootstrap-4-admin-template.zip?dl=0

ping @AshHimself @samuelralak @geekyd

[2018-05-31 11:09] geekyd commented on #66
@emurgobot done

[2018-05-31 11:10] geekyd commented on #66
@emurgobot label "done"

[2018-05-31 11:10] geekyd commented on #62
@emurgobot label "done"

[2018-05-31 11:10] geekyd commented on #61
@emurgobot label "done"

[2018-05-31 11:11] geekyd commented on #61
@emurgobot remove label "in progress"

[2018-05-31 11:20] samuelralak commented on #60
@emurgobot claim

[2018-05-31 11:34] samuelralak commented on #60
@emurgobot label "done"

[2018-05-31 11:34] samuelralak commented on #60
fixed in [#71](https://github.com/EmurgoHK/Emurgis/pull/71)

[2018-05-31 11:35] samuelralak commented on #69
Might be the fact that we are using a custom template for the sign-in button that causes the token set up not to display

[2018-05-31 11:36] samuelralak commented on #65
@emurgobot label "done"

[2018-05-31 11:36] samuelralak commented on #63
@emurgobot label "done"

[2018-05-31 11:50] samuelralak commented on #64
We would need the following abilities
- [ ] ability to mark problem as resolved
- [ ] ability to open/close a problem
The above can be done in two seperate issues.

* when a problem is created it should have a status of `open` by default

[2018-05-31 11:57] samuelralak opened #72 "Problem: Users cannot mark problem as resolved"
Problem: Users have no way to mark the problem as resolved once they have claimed it.

[2018-05-31 11:58] samuelralak opened #73 "Problem: problem owners cannot open/close a problem"
Problem: Once a problem is resolved, there is currently no way for the problem to close it or open/re-open the problem.

[2018-05-31 12:01] samuelralak opened #74 "Problem: New problem don't have a default status tag"
Problem: When a problem is created no default status tag is assigned to it.

Solution: Assign a default status tag of `open` for new problems.

[2018-05-31 12:03] AshHimself commented on #15
@emurgobot claim

Let's get this looking pretty!!!

[2018-05-31 12:04] samuelralak commented on #15
sweet

[2018-05-31 12:05] samuelralak commented on #64
@emurgobot claim

[2018-05-31 12:05] AshHimself commented on #15
@gazhayes want to assign this to me? I can't claim as you have it still.

[2018-05-31 12:06] samuelralak commented on #72
@blockrazorbot claim

[2018-05-31 12:06] samuelralak commented on #72
@emurgobot claim

[2018-05-31 12:11] samuelralak commented on #72
@emurgobot claim

[2018-05-31 12:44] samuelralak commented on #64
@emurgobot label "in progress"

[2018-05-31 13:52] AshHimself commented on #15
@anbud - i'm heading to bed, i'm fairly certain getting this theme to work in Meteor is going to be a giant cluster fuck. It was about a million JS files that i think Meteor is spazzing about. Care to spend 15mins to confirm my conclusion and maybe see if @gazhayes can get a refund.

[2018-05-31 13:56] anbud commented on #15
Sure thing, I'll take a look. :)

[2018-05-31 14:22] anbud commented on #15
You're right, this thing is huge, I barely got it to build in the first place, and then the errors began popping out.
Basically, we could use it, but the only way would be to strip out lots and lots of code, and probably just use the styling, as javascript doesn't want to play nice with Meteor. I'm not sure how much time would it take, but it does seem like a big thing to tackle.

[2018-05-31 15:34] gazhayes commented on #73
Only the user who opened it should be able to close it

[2018-05-31 15:35] gazhayes commented on #72
Only allow the user who claimed it to mark it as resolved

[2018-05-31 15:39] gazhayes commented on #15
I'll get a refund and look for something better.

[2018-05-31 15:39] #15 closed

[2018-05-31 15:40] geekyd commented on #73
@emurgobot claim

[2018-05-31 15:47] gazhayes commented on #73
Ahh the zulipbot spam, I'll try and fix that

[2018-05-31 15:49] geekyd commented on #33
@emurgobot claim

[2018-05-31 20:12] anbud commented on #69
As far as I know, the token setup screen doesn't appear on production by design. Adding Google credentials to `meteor_accounts_loginServiceConfiguration` will do the trick probably.

[2018-05-31 20:16] anbud commented on #39
Since user `_id`s are already saved when submitting a problem, I'm guessing that the issue here is that owner's username is not shown on the problem page, and the solution is just writing a helper that fetches the username.

[2018-05-31 20:17] samuelralak commented on #69
@anbud makes more sense

[2018-05-31 20:20] samuelralak commented on #72
@emurgobot remove "in progress"

[2018-05-31 20:20] samuelralak commented on #72
@emurgobot label "done"

[2018-05-31 20:20] #72 closed

[2018-05-31 20:21] samuelralak commented on #72
done in [#75](https://github.com/EmurgoHK/Emurgis/pull/75)

[2018-05-31 20:22] samuelralak commented on #74
@emurgobot claim

[2018-06-01 00:34] gazhayes commented on #69
It's actually running in dev mode right now. I'll put the credentials in and see if it does the trick.

[2018-06-01 04:19] #66 closed

[2018-06-01 04:19] #65 closed

[2018-06-01 04:31] samuelralak commented on #60
I know why 🤦‍♂️ . The changes were overwritten while doing a git rebase. Will submit another PR for this.

[2018-06-01 04:31] samuelralak commented on #60
@emurgobot claim

[2018-06-01 04:31] samuelralak commented on #60
@emurgobot label "in progress"

[2018-06-01 04:49] gazhayes opened #76 "Problem: no clean admin theme"
Here are some potential solutions:

https://github.com/pratikborsadiya/vali-admin
https://github.com/akveo/ngx-admin
https://coreui.io
https://www.npmjs.com/package/gentelella
https://startbootstrap.com/template-overviews/sb-admin/

@AshHimself @anbud @samuelralak @geekyd please vote :)

[2018-06-01 05:10] AshHimself commented on #76
Looking now, when reviewing, if you can have a quick review of the source code (if available) and access how complex at may be to integrate in.

[2018-06-01 05:29] AshHimself commented on #76
coreUI looks good and looks pretty light on including packages we would NEVER use.

[2018-06-01 06:52] samuelralak commented on #76
Voting for [sb-admin](https://startbootstrap.com/template-overviews/sb-admin/) for the following very
 reasons:
- clean minimalist design IMHO
- less bloated
- light [2 MBs] - not as light as coreUI though
- full package - no pro version required
- easily customisable
- I generally like it

[2018-06-01 09:14] samuelralak commented on #60
fixed in [#77](https://github.com/EmurgoHK/Emurgis/pull/77)

[2018-06-01 09:14] samuelralak commented on #60
@emurgobot remove "in progress"

[2018-06-01 09:15] samuelralak commented on #60
@emurgobot label "done"

[2018-06-01 09:35] anbud commented on #76
I'm voting for CoreUI, love the way it looks, and it seems light enough.

[2018-06-01 09:48] geekyd commented on #76
CoreUI looks good to me. Clean design & lighter than others.

[2018-06-01 10:56] samuelralak commented on #74
@emurgobot remove  "in progress"

[2018-06-01 10:56] samuelralak commented on #74
@emurgobot label "done"

[2018-06-01 10:57] samuelralak commented on #74
done in [#78](https://github.com/EmurgoHK/Emurgis/pull/78)

[2018-06-01 11:01] samuelralak opened #79 "Problem: problems not marked as in progress when claimed"
Problem: When a problem is claimed, its status does not change. A  claimed problem should have a status of 'in progress'.

Solution: Change problem status to `in progress` once claimed

[2018-06-01 11:01] samuelralak commented on #79
@emurgobot claim

[2018-06-01 11:08] geekyd commented on #73
@samuelralak I think we should use a general method to update the state of the problem instead of having different methods for all the actions. What do you think?

[2018-06-01 11:13] samuelralak commented on #73
@geekyd I had actually implemented it that way initially but I figured that it may cause conflicts, but yeah you have a point. either of us can still submit a patch once all the pieces are merged with master.

[2018-06-01 11:14] samuelralak commented on #79
@emurgobot label "in progress"

[2018-06-01 11:21] geekyd commented on #73
@samuelralak I will do it in this PR.

[2018-06-01 11:29] geekyd commented on #73
Sure :)

[2018-06-01 12:11] samuelralak commented on #79
@emurgobot remove "in progress"

[2018-06-01 12:11] samuelralak commented on #79
@emurgobot label "done"

[2018-06-01 12:11] samuelralak commented on #79
done in [#80](https://github.com/EmurgoHK/Emurgis/pull/80)

[2018-06-01 12:45] #79 closed

[2018-06-01 12:45] samuelralak commented on #73
@geekyd all other dependencies have been merged with master

[2018-06-01 13:14] geekyd commented on #73
@samuelralak Done in #81.
I ended up implementing a separate method for the problem owners as the claimId in `markAsResolved` wont be required for the actions of a problem owner. Thanks for the discussion :)

@emurgobot remove label 'in progress'
@emurgobot label "done"

[2018-06-01 13:14] geekyd commented on #73
@emurgobot remove "in progress"

[2018-06-01 13:32] geekyd opened #82 "Problem: missing tests for methods in problemMethods"
Problem: missing tests for methods in problemMethods

Solution: Add tests for all the missing methods

[2018-06-01 13:32] geekyd commented on #82
@emurgobot claim

[2018-06-01 14:49] gazhayes opened #83 "problem: no live checking for field lengths"
Problem: fields are not currently checked for length when the user types. This is annoying, especially on the problem summary field.

Solution: check length onKeyUp (or whatever) and display remaining characters.

Fields should have the following maximums:
problem field: 500 chars
solution field: 500 chars
problem summary: 62 chars (will be prepended with 'problem:' which is 8 chars.

[2018-06-01 14:50] samuelralak commented on #83
@emurgobot claim

[2018-06-01 14:54] gazhayes opened #84 "Problem: home route layout isn't very good"
Problem: home route layout isn't very good, there's too much information which makes it cluttered.

Solution:
The home route table only really needs a problem summary, time *since* creation (using moment.js), and current status.

[2018-06-01 14:55] samuelralak commented on #64
@gazhayes all dependencies have been merged for this issue.

[2018-06-01 14:55] gazhayes opened #85 "Problem: users cannot claim issues"
Problem: there's no way for users to claim issues. Looks like this was broken somewhere along the way.

[2018-06-01 14:55] samuelralak commented on #64
@emurgobot remove "in progress"

[2018-06-01 14:58] gazhayes opened #86 "Problem: date on currency detail page is not relative"
Problem: date on problem detail page is not relative

Solution: use moment.js to show time since (for everything) rather than absolute time.

[2018-06-01 14:58] #64 closed

[2018-06-01 14:59] #60 closed

[2018-06-01 15:10] gazhayes commented on #76
CoreUI it is!

[2018-06-01 15:10] #76 closed

[2018-06-01 15:10] #73 closed

[2018-06-01 15:13] gazhayes opened #87 "problem: CoreUI not used"
Problem: CoreUI is not used.

Solution: implement coreUI (https://coreui.io).

@samuelralak I think you'll like this one, if not, @geekyd might want to have a look.

[2018-06-01 15:17] samuelralak commented on #87
sweet. taking a look. @emurgobot claim

[2018-06-01 19:33] geekyd commented on #84
@emurgobot claim

[2018-06-01 19:34] geekyd commented on #82
Done in #88

@emurgobot label "done"

[2018-06-01 19:57] geekyd commented on #84
Done in #89

@emurgobot label "done"

[2018-06-02 00:52] #84 closed

[2018-06-02 00:52] #85 closed

[2018-06-02 00:53] gazhayes commented on #82
@geekyd remember you can close your own issues once complete ;)

[2018-06-02 00:54] gazhayes opened #90 "Problem: user's name not shown on problems"
Problem: user's names are not shown on problems.

solution: on the problem detail page, show who created the problem, and who claimed the problem (if it's been claimed).

[2018-06-02 01:01] gazhayes opened #91 "Problem: no user statistics"
Problem: there's currently no way to track the performance of each user.

Solution: give problem creators two options when closing an issue: "this is no longer a problem" and "xxxx has solved this problem" with xxxx being the user who claimed the issue.

Track how many problems each user has logged, and how many they have claimed *and* the owner has declared they have actually solved.

ping @anbud

[2018-06-02 01:04] gazhayes opened #92 "problem: problems not marked as "in progress" once claimed"
problem: problems not marked as "in progress" once claimed, still marked as "open" on home route and "claimed" but also "open" on detail page.

[2018-06-02 01:06] samuelralak commented on #92
I could swear this was working well before

On Sat, 2 Jun 2018 at 04:04, Gareth Hayes <notifications@github.com> wrote:

[2018-06-02 01:08] gazhayes commented on #92
I thought it was too.

[2018-06-02 01:12] samuelralak commented on #92
hmm. We may have to find or decide on a way  to avoid regression

On Sat, 2 Jun 2018 at 04:08, Gareth Hayes <notifications@github.com> wrote:

[2018-06-02 01:25] gazhayes opened #93 "problem: no client side tests"
problem: it turns out we really do need client side test, as highlighted by #92

ping @anbud

[2018-06-02 01:30] gazhayes opened #94 "problem: users do not get notifications"
problem: users do not get notifications when someone replies to a problem they have logged or a problem they have commented on.

solution: implement a basic notification system. The simplest way is probably to have some problem level "watch" flag  or whatever that is set to true when a user creates a problem, comments on a problem, or watches a problem. Then a notification method (or whatever) can

[2018-06-02 01:33] gazhayes opened #95 "problem: users cannot be mentioned"
problem: it's not possible to mention users.

solution: use @ to mention users, search user list dynamically. I haven't looked but there must be some node package that can help here.

[2018-06-02 01:41] AshHimself commented on #95
Ooo this sounds fun.. @emurgobot claim

[2018-06-02 01:45] anbud commented on #93
@emurgobot claim

[2018-06-02 06:39] geekyd commented on #92
My bad, I accidentally deleted the changes by @samuelralak in #81 while experimenting with the idea of a common method. Fixing it.

@emurgobot claim

[2018-06-02 06:52] geekyd commented on #92
done in #96

@emurgobot label 'done'

[2018-06-02 06:53] geekyd commented on #92
@emurgobot label "done"

[2018-06-02 19:39] anbud commented on #93
Done in #97.

All files in the `/imports` directory with the extension `.ui-test.js` will be processed.

@emurgobot label "done"

[2018-06-02 19:40] anbud commented on #91
@emurgobot claim

[2018-06-02 21:18] anbud commented on #91
Done in #98.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-02 21:19] anbud commented on #39
@AshHimself, is this one same as #90 then?

[2018-06-02 21:20] anbud commented on #94
@emurgobot claim

[2018-06-03 02:11] #93 closed

[2018-06-03 02:11] #92 closed

[2018-06-03 02:11] #91 closed

[2018-06-03 02:11] #83 closed

[2018-06-03 02:21] gazhayes opened #100 "problem: problem detail page does not show who resolved it"
problem: when a problem is complete, the problem detail page does not show who resolved the problem once the owner has closed it.

[2018-06-03 02:23] gazhayes opened #101 "problem: problem detail page does not show who claimed an issue"
problem: problem detail page does not show who claimed an issue

<img width="237" alt="screen shot 2018-06-03 at 10 21 38 am" src="https://user-images.githubusercontent.com/8143945/40882543-1952edf6-6718-11e8-9d39-5bbf76af3cae.png">

[2018-06-03 02:23] gazhayes opened #102 "problem: problem creation date on problem detail page is absolute not relative"
problem: problem creation date on problem detail page is absolute not relative

[2018-06-03 02:24] gazhayes opened #103 "problem: colours for tags on problem detail page do not match home route"
problem: colours for tags on problem detail page do not match home route

[2018-06-03 02:26] gazhayes opened #104 "problem: extra claimed tag on problem detail page"
problem:

<img width="345" alt="screen shot 2018-06-03 at 10 26 07 am" src="https://user-images.githubusercontent.com/8143945/40882561-9d36d6e6-6718-11e8-8074-daa48e7116a8.png">

[2018-06-03 02:29] gazhayes opened #105 "problem: [/stats] no statistic for problems that users have completed"
Problem: there's no statisics for problems that a user has claimed and actually solved. The only related statistic is how many of this users logged issues have been solved (regardless of who solved them).

[2018-06-03 02:30] gazhayes opened #106 "Problem: no page to compare performance of *all* users"
Problem: no page to compare performance of *all* users

[2018-06-03 02:56] gazhayes commented on #102
Just updated. Maybe you *can* have too many repos after all.

[2018-06-03 04:50] AshHimself commented on #95
Can't seem to find many maintained packages for this type of functionality. Still looking. Anyone else used one before?

[2018-06-03 04:52] gazhayes commented on #95
OK the other option is to just have a typeahead field or something to add people to ping (separate from the text itself).

[2018-06-03 04:52] AshHimself commented on #95
Going to @emurgobot unclaim until I find something that works with latest bootstrap as the last the packages I tried at giving errors.

[2018-06-03 04:53] AshHimself commented on #95
@emurgobot unclaim

That could work. Let's hold off doing that for a bit though as I think having this functionality over all apps would offer a lot of value.

[2018-06-03 04:55] gazhayes commented on #95
Yeah, very true. Give it 24 hours and see what happens.

[2018-06-03 04:59] AshHimself commented on #104
@gazhayes - currencyDetail page?  Also, I wasn't able to replicate this.

![image](https://user-images.githubusercontent.com/148682/40883382-f51d2648-672d-11e8-93a5-c3025f0fe5b3.png)

[2018-06-03 05:00] gazhayes commented on #104
Try claiming it with a different user to who created it

[2018-06-03 05:02] gazhayes commented on #104
I'm fighting my way through a hangover.

[2018-06-03 05:03] AshHimself commented on #104
bahaha.. that was me yesterday.

On Sun, Jun 3, 2018 at 1:02 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-06-03 05:05] AshHimself commented on #104
I am able to replicate now. Cheers

[2018-06-03 05:11] AshHimself commented on #104
@emurgobot claim

[2018-06-03 05:18] AshHimself commented on #104
Fixed in #107
@emurgobot label "done"
@emurgobot remove "in progress"
@emurgobot done

[2018-06-03 05:20] AshHimself commented on #101
@emurgobot claim

[2018-06-03 05:30] AshHimself commented on #101
Fixed in #108
@emurgobot label "done"
@emurgobot remove "in progress"
@emurgobot done

[2018-06-03 05:32] AshHimself commented on #102
@gazhayes to confirm, you want this to be like.. posted 8min ago etc.

[2018-06-03 05:33] AshHimself commented on #39
Closing per advise from @gazhayes, this isn't a problem and we should just create a helper to query the users ID.

[2018-06-03 05:33] #39 closed

[2018-06-03 05:43] AshHimself commented on #90
@bot claim

[2018-06-03 05:44] AshHimself commented on #90
Fixed in #109
@emurgobot label "done"
@emurgobot done

[2018-06-03 05:51] AshHimself commented on #86
Is this another hang over ticket mate ? Just want to confirm before doing anything :D

[2018-06-03 05:56] gazhayes commented on #86
It's real, but I just realized I logged it twice

[2018-06-03 05:56] #86 closed

[2018-06-03 06:01] AshHimself commented on #105
@emurgobot claim

[2018-06-03 07:33] gazhayes commented on #102
Yeah you got it

[2018-06-03 08:37] geekyd opened #110 "Problem: no client side tests in the app"
Problem: no client side tests in the app.

Solution: Add client side tests in the application to avoid regression & rework.

[2018-06-03 08:45] anbud commented on #105
The last one on the table was supposed to be just that, but I just see that I've put the wrong userId in `updateStatus` method. It should be `problem.claimedBy` instead of `Meteor.userId()`.

[2018-06-03 09:08] samuelralak commented on #87
@gazhayes should we change the overall layout of Emurgis (give it the CoreUI admin look with side panel) or leave it as it is and decide later?

I have already integrated the CoreUi styles and components

[2018-06-03 09:14] geekyd commented on #33
@gazhayes @AshHimself @samuelralak @anbud

Adding a relationship table to maintain the dependencies of the problems. Whenever a new dependency is added traverse through the dependencies of the problem to check for a cycle.

Is there a better solution for this ?

[2018-06-03 09:17] geekyd commented on #103
@emurgobot claim

[2018-06-03 09:27] gazhayes commented on #33
Hmmmm, this is a difficult one to solve. The only simpler solution I can think of is to use functional style language instead of imperative but I don't think anyone (here) other than myself can do this and I don't have the time.

[2018-06-03 09:28] gazhayes commented on #87
Looking good! I guess send a PR with this first and then do the rest as a separate problem.

[2018-06-03 09:33] geekyd commented on #87
Looks nice. Great work @samuelralak

[2018-06-03 09:35] samuelralak commented on #87
sweet. thanks. sending PR in a bit

[2018-06-03 09:44] samuelralak commented on #100
@emurgobot claim

[2018-06-03 09:44] samuelralak commented on #100
@emurgobot label "in progress"

[2018-06-03 09:44] geekyd commented on #103
Done in #112

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-03 09:46] samuelralak commented on #87
done in [#111](https://github.com/EmurgoHK/Emurgis/pull/111)

[2018-06-03 09:46] geekyd commented on #33
@gazhayes Should I label it for later or should I implement it using what I suggested?

[2018-06-03 09:47] samuelralak commented on #87
@emurgobot label "done"

[2018-06-03 10:08] gazhayes commented on #33
You can do the way you want ;)

[2018-06-03 10:57] chamidu-supeshala commented on #102
Claiming this simple task as my first task in Emurgis :)
@emurgobot claim

[2018-06-03 11:09] chamidu-supeshala commented on #102
fixed in #113

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-03 14:38] samuelralak commented on #100
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-03 14:38] samuelralak commented on #100
done in #114

[2018-06-03 14:43] samuelralak opened #115 "Problem: CoreUI theme not taken full advantage of"
Problem: The CoreUI styles have been added but the Emurgis layout hasn't changed. The layout needs to be modified to resemble that of the CoreUI admin theme.

[2018-06-03 14:43] samuelralak commented on #115
@emurgobot claim

[2018-06-03 14:43] samuelralak commented on #115
@emurgobot label "in progress"

[2018-06-03 14:57] samuelralak commented on #105
#114 adds the following fields to a problem
- resolved (Boolean)
- resolvedBy (userId)
- resolvedDateTime (timestamp)

The above are added when a problem is closed and previous status is `ready for review`. Perhaps this info might come in handy here.

[2018-06-03 21:45] anbud commented on #94
Done in #116.

@emurgobot label "done"

[2018-06-03 22:05] anbud commented on #95
If you don't find an appropriate package, we could implement our own solution for this.

I'm not sure how hard it is to implement a floating box at user's cursor with a list of usernames UI-wise, but the backend part is not that complicated.

[2018-06-03 22:05] anbud commented on #106
@emurgobot claim

[2018-06-04 05:43] gazhayes opened #117 "problem: maintainers cannot delete other users problems"
problem: for housekeeping, it's necessary for some users (maintainers) to be able to delete (hard delete) problems.

solution: create a 'moderator' class of users and allow them to delete other user's problems.

[2018-06-04 05:45] gazhayes opened #118 "problem: cannot filter problems on home route"
Problem: users cannot filter problems by problem status

solution: use checkboxes to filter problems by status. For example "show closed".

[2018-06-04 06:36] AshHimself commented on #105
Fixed in #119
@emurgobot label "done"
@emurgobot done

[2018-06-04 06:37] AshHimself commented on #118
@emurgobot claim

[2018-06-04 06:54] #105 closed

[2018-06-04 06:55] #87 closed

[2018-06-04 06:55] #90 closed

[2018-06-04 07:12] AshHimself commented on #118
@gazhayes - do you want the filter to be remembered on page refresh by using cookies or something?

[2018-06-04 07:15] gazhayes opened #120 "Problem: notifications are not obvious"
Problem: notifications are not obvious

solution: put notifications as their own icon with a number tag showing how many new notifications there are to get users attention

[2018-06-04 07:21] gazhayes opened #121 "Problem: button layout on problem detail page is hard to use"
Problem: button layout on problem detail page is hard to use

solution: create a "take action" box at the bottom of the view below the new comment box. Place the "claim" "watch" and "close" etc buttons in there. Move the other buttons to the bottom of the problem detail box instead of at the top.

[2018-06-04 07:26] gazhayes opened #122 "problem: users can close problems that aren't resolved"
problem: users can close problems that aren't resolved.

solution: change button text to "{{username}} has solved this issue" and only display it after an issue has been tagged as "ready for review".

[2018-06-04 07:29] gazhayes opened #123 "problem: "mark as resolved" can be confusing"
problem: "mark as resolved" can be confusing

solution: change text to "I have solved this problem"

[2018-06-04 07:32] gazhayes opened #125 "problem: users cannot provide summary of how they solved a problem"
problem: users cannot provide summary of how they solved a problem

solution: when users resolve a problem (click "mark as resolved" or "I have solved this problem") instantiate a modal with a text box asking them to explain what they did to solve the problem. This can then be inserted as a "comment" but with something special (some different UI style) to denote it being the 'solution' that was ac

[2018-06-04 07:32] AshHimself commented on #118
Fixed in #124
@emurgobot label "done"
@emurgobot done

I can do another PR if the above is a requirement

[2018-06-04 07:32] AshHimself commented on #123
@emurgobot claim

[2018-06-04 07:35] gazhayes opened #126 "problem: wording for "closed" is innacurate"
problem: wording for "closed" is inaccurate

solution: what we're really trying to say is "this is fixed/solved" so it change all "closed" tags, filter checkboxes, etc site wide to "solved".

[2018-06-04 07:36] gazhayes opened #127 "problem: "resolved" checkbox is obsolete"
problem: "resolved" checkbox is obsolete (I think). @AshHimself what's this actually for?

[2018-06-04 07:36] #104 closed

[2018-06-04 07:36] #103 closed

[2018-06-04 07:36] #102 closed

[2018-06-04 07:37] #101 closed

[2018-06-04 07:37] #100 closed

[2018-06-04 07:37] #94 closed

[2018-06-04 07:37] #118 closed

[2018-06-04 07:44] AshHimself commented on #126
@emurgobot claim - i'll take this as well being I am renaming the resolved one at the same time.

@gazhayes - Do I still need two PR requests? or just a single commit referencing both tickets?

[2018-06-04 07:48] AshHimself commented on #127
lol I actually don't know. I think I just merged another project I am working on into this one.. i'll remove it.

[2018-06-04 08:06] gazhayes commented on #118
Yeah definitely

[2018-06-04 08:08] gazhayes commented on #126
You can always do a single PR for multiple issues, but technically speaking it should be a different *commit* for each problem.

[2018-06-04 08:39] daichiemurgohk opened #129 "problem: Daichi is in Osaka"
test

[2018-06-04 08:52] #129 closed

[2018-06-04 08:54] gazhayes commented on #129
@daichiemurgohk http://emurgis.org:8000

Log in with your emurgo.io account

[2018-06-04 09:04] gazhayes opened #130 "problem: redundant login step"
Problem: there's a redundant step for users logging in.

solution: allow users to log in straight from the title bar instead of having an extra step with a "log in with google" button.

[2018-06-04 09:05] AshHimself commented on #125
Fixed in #126
@emurgobot label "done"
@emurgobot done

[2018-06-04 09:05] AshHimself commented on #126
Fixed in #126
@emurgobot label "done"
@emurgobot done

[2018-06-04 09:05] AshHimself commented on #123
Fixed in #126
@emurgobot label "done"
@emurgobot done

[2018-06-04 09:23] ryankingtm opened #132 "problem: line breaks created by return key do not show on text"
Solution: Implementation of Markdown? (maybe)

[2018-06-04 09:26] AshHimself commented on #132
@emurgobot claim

[2018-06-04 09:38] gazhayes opened #133 "Problem: problem and solution text is not well delineated"
Problem: problem and solution text is not well delineated

solution: clean up the UI a bit and add clear problem and solution headings.

[2018-06-04 09:45] gazhayes opened #134 "problem: number of comments not shown on home route"
problem: the number of comments on each problem are not shown on home route.

solution: ideally, we would have the number of *new* comments for the currently logged in user (since their last visit to that problem). But if this is too hard the total number of comments is ok.

[2018-06-04 10:19] gazhayes opened #135 "Problem: no tag for self-owned issues"
Problem: no tag for self-owned issues

solution: add a tag (and associated checkbox on the home route) to show if a problem is owned by the currently logged in user.

[2018-06-04 10:21] ryankingtm opened #136 "problem: no way to distinguish 'unread' notifications from 'read' notifications"

[2018-06-04 10:27] ryankingtm opened #137 "problem: buttons appear on 'new problem' in certain conditions"
If I have previously viewed a problem that has been marked as 'fixed/resolved', and then go to add a 'new problem', the green and red buttons appear at the top of the new problem form, making it appear as if the new problem had been marked as 'fixed/resolved'.

[2018-06-04 10:48] gazhayes opened #138 "problem: browser dialogues in use"
Problem: browser dialogues look like crap but we are using them for confirmations all over the place.

Solution: change all browser dialogues to modals (or something, there are nicer ways but I can't remember the name right now)

[2018-06-04 10:49] AshHimself commented on #138
I am a big fan of https://github.com/t4t5/sweetalert

On Mon, Jun 4, 2018 at 6:48 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-06-04 10:50] gazhayes commented on #138
Yes that's the one I was thinking of.

[2018-06-04 10:50] #123 closed

[2018-06-04 10:54] gazhayes opened #139 "problem: cannot log issues for Emurgis itself"
problem: users of Emurgis can't easily log "meta" issues about Emurgis itself. I don't want them to log straight to Github and annoy developers with silly poorly thought out stuff so it's better they log them to Emurgis itself and I'll act as a filter to repost them to github where necessary.

Solution: add a "This is a problem with Emurgis itself" checkbox to the top of the problem page. Change t

[2018-06-04 11:35] AshHimself commented on #132
Fixed in #140
@emurgobot label "done"
@emurgobot done

[2018-06-04 11:37] AshHimself commented on #138
@emurgobot claim

[2018-06-04 12:07] gazhayes opened #141 "problem: it's possible to add empty comments"

[2018-06-04 12:13] AshHimself commented on #138
Fixed in #142
@emurgobot label "done"
@emurgobot done

[2018-06-04 12:31] AshHimself commented on #134
@emurgobot claim

[2018-06-04 12:33] #138 closed

[2018-06-04 12:38] AshHimself commented on #134
Fixed in #143
@emurgobot label "done"
@emurgobot done

[2018-06-04 12:39] AshHimself opened #144 "problem: unable to select icons when doing frontend UX"
solution: Implement latest version of fontawesome

[2018-06-04 12:40] geekyd commented on #133
@emurgobot claim

[2018-06-04 13:03] sjmackenzie opened #145 "Problem: emurgis assumes everything entered is a legit problem"
A problem should be closed if it's clearly a non-problem. Non-problems will inevitably be entered into the system, be it by a new employee learning the ropes or other more dim scenarios. Currently the final state of a legit problem is `Fixed/Solved` which does not describe the final state of a non-problem which shouldn't be solved but disregarded as soon as possible.

The process must be able to q

[2018-06-04 13:06] sjmackenzie commented on #126
See #145

[2018-06-04 13:12] chamidu-supeshala commented on #141
fixed in #146
@emurgobot done
@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-04 13:15] chamidu-supeshala commented on #130
@emurgobot claim

[2018-06-04 13:20] anbud commented on #106
Done in #147.

@emurgobot label "done"

[2018-06-04 13:23] anbud commented on #117
@emurgobot claim

How will we choose moderators/maintainers?

[2018-06-04 13:36] chamidu-supeshala commented on #130
fixed #148

@emurgobot done
@emurgobot label "done"

[2018-06-04 13:40] gazhayes opened #149 "problem: users cannot delete their comments"

[2018-06-04 13:40] gazhayes opened #150 "problem: users cannot edit their comments"

[2018-06-04 13:44] chamidu-supeshala commented on #121
@emurgobot claim

[2018-06-04 13:47] gazhayes commented on #132
@AshHimself this doesn't seem to be solved, is it parsing MD before or after insert?

[2018-06-04 13:50] #141 closed

[2018-06-04 13:51] #134 closed

[2018-06-04 13:52] #130 closed

[2018-06-04 13:57] gazhayes commented on #145
Non-problems can simply be deleted by a maintainer.

There must be a distinction between closed and solved for other reasons, only problems that are ready for review can be marked as solved, a non-problem cannot be marked as solved because there was nothing to solve (and the user who "solved" it should not have this added to their statistics).

[2018-06-04 13:59] gazhayes commented on #126
For open source software development yes, but in this situation it doesn't work (I go into more detail in #145).

[2018-06-04 13:59] #126 closed

[2018-06-04 14:01] sjmackenzie commented on #145
Ah I see, you're deferring deletion of non-problems to a level up. Fine. Though I'd argue you'd want to keep stats on users creating non-problems. Users that create a large amount of non-problems just don't get it and add friction to the system.

[2018-06-04 14:02] #106 closed

[2018-06-04 14:02] geekyd commented on #133
Done in #151
@emurgobot done
@emurgobot label "done"

[2018-06-04 14:03] #145 closed

[2018-06-04 14:03] AshHimself commented on #132
Maybe I didn't understand the issue correctly then.. I am allowing users to pass in markdown and then parsing MD after. Now that I am typing this I think I only did this on comments on not problems text as well.

[2018-06-04 14:03] #133 closed

[2018-06-04 14:03] gazhayes commented on #33
How are you going with this?

[2018-06-04 14:05] gazhayes commented on #117
This can be done manually in DrMongo for now, just tell me where to put the flag ;)

[2018-06-04 14:06] gazhayes commented on #110
New client side code should have tests written, same rules as Blockrazor. ping @AshHimself @samuelralak @anbud @chamidu-supeshala

[2018-06-04 14:09] gazhayes commented on #132
That's fine

That's probably the real problem then. Problem and solution field.

[2018-06-04 14:10] geekyd commented on #33
I will be sending a PR for this soon

[2018-06-04 15:20] samuelralak commented on #122
@emurgobot claim

[2018-06-04 15:38] samuelralak commented on #115
@emurgobot remove "in progress"

[2018-06-04 15:39] samuelralak commented on #115
@emurgobot label "done"

[2018-06-04 15:39] samuelralak commented on #115
The following issues will have to be fixed in seperate issues
- sidebar cannot be closed
- sidebar cannot be minimised

[2018-06-04 15:40] #115 closed

[2018-06-04 15:42] samuelralak opened #153 "problem: users cannot toggle sidebar"
problem: the sidebar is currently fixed and cannot be hidden or revealed at will

solution: add a toggle button for the sidebar and have it open or close on click

[2018-06-04 15:48] samuelralak opened #154 "problem: confirm dialogues don't give users the option to cancel action"
problem: users are currently not given the option to cancel action when they click on the following
- claim/unclaim
- delete

[2018-06-04 15:59] samuelralak commented on #122
@emurgobot unclaim

[2018-06-04 15:59] samuelralak commented on #149
@emurgobot claim

[2018-06-04 16:37] chamidu-supeshala commented on #121
fixed #155

@emurgobot done
@emurgobot label "done"

[2018-06-04 17:33] samuelralak commented on #149
@emurgobot label "done"

[2018-06-04 17:33] samuelralak commented on #149
done in #149

[2018-06-04 17:49] samuelralak commented on #125
@emurgobot claim

[2018-06-04 21:13] anbud commented on #117
Add a `moderator` boolean field set to true in the root of the user object and you'll be able to delete all problems.

Done in #157.

@emurgobot label "done"

[2018-06-04 21:17] anbud commented on #150
@emurgobot claim

[2018-06-04 23:08] anbud commented on #135
@emurgobot claim

[2018-06-04 23:28] anbud commented on #137
I can't seem to replicate this one. I've tried following the steps, but I can't see those buttons anywhere on the `new problem` page.

Maybe it got fixed in the meantime by some other PR, or I'm missing something. :)

[2018-06-04 23:30] anbud commented on #122
@emurgobot claim

[2018-06-04 23:39] anbud commented on #122
Done in #160.

@emurgobot label "done"

[2018-06-04 23:44] anbud commented on #136
@emurgobot claim

[2018-06-04 23:54] anbud commented on #136
Done in #161.

@emurgobot label "done"

[2018-06-04 23:57] anbud commented on #154
@emurgobot claim

[2018-06-05 00:12] anbud commented on #154
Done in #162.

@emurgobot label "done"

[2018-06-05 07:09] #154 closed

[2018-06-05 07:10] #150 closed

[2018-06-05 07:10] #149 closed

[2018-06-05 07:10] #136 closed

[2018-06-05 07:10] #135 closed

[2018-06-05 07:10] #122 closed

[2018-06-05 07:11] #121 closed

[2018-06-05 07:11] #117 closed

[2018-06-05 07:21] AshHimself commented on #132
@emurgobot claim

[2018-06-05 07:54] gazhayes commented on #95
OK for now just do a dropdown or something to add people to ping. Make it so anyone can do this not just the creator.

[2018-06-05 08:44] AshHimself commented on #132
@Fixed in #164
@emurgobot label "done"
@emurgobot done

This should be done now. Forgot you can do this in full css so we don't really need the markdown package but can leave it in if you guys want to still do markdown :)

[2018-06-05 08:48] AshHimself commented on #127
@emurgobot claim

[2018-06-05 08:52] AshHimself commented on #127
Fixed in #165
@emurgobot label "done"
@emurgobot done

[2018-06-05 08:53] AshHimself commented on #120
@emurgobot claim

[2018-06-05 09:00] #127 closed

[2018-06-05 09:04] gazhayes opened #166 "problem: "I have solved this problem" button doesn't stand out"
Solution: make it green

[2018-06-05 09:06] gazhayes opened #167 "problem: text in comments overflows box"
problem: text in comments overflows box

<img width="629" alt="screen shot 2018-06-05 at 5 05 53 pm" src="https://user-images.githubusercontent.com/8143945/40966329-ce17a062-68e2-11e8-9a93-5846b954a720.png">

[2018-06-05 09:07] gazhayes opened #168 "problem: solution text not displayed"
problem: solution text not displayed

ping @AshHimself urgent

[2018-06-05 09:16] AshHimself commented on #168
@emurgobot claim

[2018-06-05 09:16] AshHimself commented on #168
Fixed in #168
@emurgobot label "done"
@emurgobot done

[2018-06-05 09:17] AshHimself commented on #168
Smallest PR in history!!!!

[2018-06-05 09:20] samuelralak commented on #125
Trying to set up initial client side tests for this ticket is taking me a long time. Will add client side on a seperate ticket

[2018-06-05 09:20] AshHimself commented on #167
@emurgobot claim

[2018-06-05 09:22] AshHimself commented on #167
Fixed in #170
@emurgobot label "done"
@emurgobot done

[2018-06-05 09:36] gazhayes opened #171 "problem: strange layout on problem detail page"
problem: strange layout on problem detail page. There's a large amount of space. Not sure if this is UI or MD related.

<img width="537" alt="screen shot 2018-06-05 at 5 35 10 pm" src="https://user-images.githubusercontent.com/8143945/40967949-faeccef6-68e6-11e8-8195-9905c37e3e6d.png">

[2018-06-05 09:36] #168 closed

[2018-06-05 09:37] #167 closed

[2018-06-05 09:37] gazhayes commented on #132
@ryankingtm when a problem you log is solved (and you have verified that it's solved) you can close it.

[2018-06-05 09:41] AshHimself commented on #171
That is weird...  want to paste me the markdown in an email or here? or inspect the DOM and see what you see. I think I said in a previous post we can remove markdown if needed but it does add value in a sense so may be worth looking into a tiny bit.

[2018-06-05 09:45] AshHimself commented on #120
Fixed in #172
@emurgobot label "done"
@emurgobot done

[2018-06-05 09:45] AshHimself commented on #110
Do we have a sample PR for this project?

[2018-06-05 09:46] chamidu-supeshala commented on #166
@emurgobot claim

[2018-06-05 09:47] samuelralak commented on #110
Not really. I was trying to get that done on my current ticket but I
thought it wise to do it on a separate one since its taking me quite a bit
of time. But anyone can go for it

On Tue, 5 Jun 2018 at 12:45, Ash Smith <notifications@github.com> wrote:

[2018-06-05 09:54] chamidu-supeshala commented on #166
fixed #173
@emurgobot done
@emurgobot label "done"

[2018-06-05 09:55] chamidu-supeshala commented on #153
@emurgobot claim

[2018-06-05 12:13] samuelralak commented on #125
@gazhayes quick question, when should the solution be marked as accepted i.e when the claimer marks it as solved or when the problem close the problem after review?

I would also propose not showing the solution to other users until the problem owner reviews and accepts it

[2018-06-05 12:28] gazhayes commented on #125
When the problem owner marks it as closed (fixed/solved).

We should keep it as transparent as possible, so don't worry about that (at least for now)

[2018-06-05 12:29] gazhayes commented on #110
There are some on blockrazor that you could use for reference

[2018-06-05 12:31] gazhayes commented on #171
You can't reproduce locally?

[2018-06-05 14:05] samuelralak commented on #125
@emurgobot label "done"

[2018-06-05 14:05] samuelralak commented on #125
done in #174

[2018-06-05 14:05] samuelralak commented on #139
@emurgobot claim

[2018-06-05 14:07] samuelralak commented on #139
@emurgobot label "in progress"

[2018-06-05 14:14] #166 closed

[2018-06-05 14:14] #132 closed

[2018-06-05 14:14] #120 closed

[2018-06-05 14:23] gazhayes opened #175 "problem: % on stats page is unnecessary and confusing"
problem: the % indicators on stats page are unnecessary and a little confusing

[2018-06-05 14:26] gazhayes opened #176 "problem: [/stats] wrong abandoned and claimed numbers"
problem: [/stats] wrong abandoned and claimed numbers.

solution: abandoned problems should be deducted from claimed problems.

For example, if I claim 6 problems and then abandon 2 of them then:
claimed = 4; abandoned = 2;

[2018-06-05 14:41] chamidu-supeshala commented on #153
done #177
@emurgobot done
@emurgobot label "done"

[2018-06-05 14:45] gazhayes opened #178 "problem: problem summary field too short"
problem: problem summary field too short

solution: increase by 10 chars.

[2018-06-05 14:47] chamidu-supeshala commented on #176
@emurgobot claim

[2018-06-05 15:06] anbud commented on #175
@emurgobot claim

[2018-06-05 15:11] anbud commented on #175
Done in #179.

@emurgobot label "done"

[2018-06-05 15:19] samuelralak commented on #178
@emurgobot claim

[2018-06-05 15:22] chamidu-supeshala commented on #176
fixed #180
@emurgobot done
@emurgobot label "done"

[2018-06-05 15:22] gazhayes opened #181 "problem: unnecessary breadcrumb bar"
problem: unnecessary breadcrumb bar

<img width="519" alt="screen shot 2018-06-05 at 11 22 04 pm" src="https://user-images.githubusercontent.com/8143945/40985728-4bec382a-6917-11e8-8a22-3deb03fe7152.png">

[2018-06-05 15:23] chamidu-supeshala commented on #176
@emurgobot label "done"

[2018-06-05 15:23] samuelralak commented on #181
The breadcrumb is currently static. It needs to change depending on the current page visited

[2018-06-05 15:23] chamidu-supeshala commented on #176
@emurgobot done

[2018-06-05 15:29] gazhayes opened #182 "problem: no "new problem" button in sidebar"
problem: no "new problem" button in sidebar

[2018-06-05 15:32] gazhayes opened #183 "problem: users cannot list all problems they have claimed"
problem: users cannot list all problems they have claimed

solution: add another view and sidebar button to show "my claimed problems".

[2018-06-05 16:17] anbud commented on #183
@emurgobot claim

[2018-06-05 19:01] anbud commented on #183
Done in #185.

@emurgobot label "done"

[2018-06-05 19:02] kriswormwood opened #186 "Problem: delete key not functional after prob desc exceeds 50 chars"

[2018-06-05 19:06] anbud commented on #110
If anyone gets stuck while writing WDIO UI tests, ping me, I can probably help. :)

[2018-06-05 19:07] samuelralak commented on #110
let me give it a try first

On Tue, 5 Jun 2018 at 22:06, Andrej Budinčević <notifications@github.com>
wrote:

[2018-06-05 20:08] anbud commented on #144
@emurgobot claim

[2018-06-05 20:24] anbud commented on #144
Done in #187.

@emurgobot label "done"

[2018-06-05 20:28] anbud commented on #182
Done in #188.

@emurgobot label "done"

[2018-06-05 20:36] anbud commented on #181
I agree, active class on the menu would look nicer.

[2018-06-05 20:39] anbud commented on #186
@emurgobot claim

[2018-06-05 20:57] anbud commented on #186
Fixed in #189.

@emurgobot label "done"

[2018-06-06 01:23] gazhayes opened #190 "problem: field lengths are too short"
problem: field lengths are too short

solution: double the max chars for problem, solution, comments. (**not** summary)

[2018-06-06 01:36] gazhayes opened #191 "problem: can't tell which notifications have been visited"
problem: notifications are all marked as read when opening the notification page. When users visit one of them and go back to the notification page it's not possible to see what's already been visited.

possible solution: only mark individual notifications as read onClick

[2018-06-06 01:38] gazhayes opened #192 "problem: users cannot easily see their own logged problems"
problem: users cannot easily see their own logged problem, the filters aren't really working for this, it's annoying to untick everything.

solution: create another view for problems that the user has created, add sidebar button

[2018-06-06 01:43] gazhayes commented on #95
Actually I have a better solution, closing this one.

[2018-06-06 01:43] #95 closed

[2018-06-06 01:44] gazhayes opened #193 "problem: no full text search"
problem: no full text search

solution: implement a search box that queries all strings (problem summary, problem, solution, comments)

[2018-06-06 01:53] gazhayes opened #194 "problem: "xxxx has solved this problem" button in wrong location"
Problem: the solved this problem button is far away from the solution box.

solution: Now that we have a 'submitted solution' box the solved button should be placed inside this box and changed to 'accept this solution'.

[2018-06-06 01:57] gazhayes opened #195 "problem: users cannot log 'FYI' type problems"
problem: sometimes users just need everyone to acknowledge a new piece of information rather than have someone claim and solve a problem.

solution: on the new problem page, add a checkbox "this is an FYI". If a problem is an FYI, don't allow it to be claimed. Instead, show a button "Got it", which appends the user's name to a list of people who have read and understood the problem.

[2018-06-06 02:01] anbud commented on #195
@emurgobot claim

[2018-06-06 06:53] gazhayes opened #196 "problem: owners cannot kick claimers"
problem: sometimes it's necessary for an owner of a problem to remove the person who claimed it so that someone else can claim it, but we can't currently do this.

[2018-06-06 06:53] #186 closed

[2018-06-06 06:53] #182 closed

[2018-06-06 06:53] #176 closed

[2018-06-06 06:53] #175 closed

[2018-06-06 06:54] #153 closed

[2018-06-06 06:54] #144 closed

[2018-06-06 06:54] #125 closed

[2018-06-06 10:56] AshHimself commented on #193
@emurgobot claim

[2018-06-06 11:34] ryankingtm commented on #137
No problem! Perhaps an error on my part! Thanks for your work :)

On Tue, Jun 5, 2018 at 7:28 AM, Andrej Budinčević <notifications@github.com>
wrote:

--
Ryan King | Director of Acceleration | Emurgo

Hong Kong | Mobile: +852.5426.7012 (Messaging Apps) | Web: emurgo.io

Twitter <http://www.twitter.com/RyanKingTM> | LinkedIn
<https://www.linkedin.com/in/RyanKingTM>

[2018-06-06 11:43] #137 closed

[2018-06-06 12:33] gazhayes commented on #33
@geekyd friendly ping ;)

How are you going with this?

[2018-06-06 12:49] chamidu-supeshala commented on #190
@emurgobot claim

[2018-06-06 12:55] samuelralak commented on #139
@emurgobot remove "in progress"

[2018-06-06 12:55] samuelralak commented on #139
@emurgobot label "done"

[2018-06-06 12:55] samuelralak commented on #139
done in #197

[2018-06-06 12:55] samuelralak commented on #178
@emurgobot label "done"

[2018-06-06 12:56] chamidu-supeshala commented on #190
fixed  #198
@emurgobot label "done"

[2018-06-06 12:56] chamidu-supeshala commented on #190
@emurgobot done

[2018-06-06 12:56] samuelralak commented on #181
away with the breadcrumb

[2018-06-06 12:57] samuelralak commented on #181
@emurgobot claim

[2018-06-06 12:57] chamidu-supeshala commented on #191
@emurgobot claim

[2018-06-06 13:03] samuelralak commented on #181
@emurgobot label "done"

[2018-06-06 13:04] samuelralak commented on #181
done in #199

[2018-06-06 13:05] samuelralak commented on #192
@emurgobot claim

[2018-06-06 13:06] samuelralak commented on #192
@emurgobot label "in progress"

[2018-06-06 13:08] #190 closed

[2018-06-06 13:08] #183 closed

[2018-06-06 13:08] #181 closed

[2018-06-06 13:09] #178 closed

[2018-06-06 13:09] #139 closed

[2018-06-06 13:22] chamidu-supeshala commented on #191
fixed #201
@emurgobot done
@emurgobot label "done"

[2018-06-06 13:43] #171 closed

[2018-06-06 13:46] gazhayes opened #202 "problem: extra line breaks included in markdown text"
problem: extra line breaks included in markdown text

<img width="1136" alt="screen shot 2018-06-06 at 9 44 34 pm" src="https://user-images.githubusercontent.com/8143945/41041897-e8508c14-69d2-11e8-9deb-49314124c8f6.png">

This is the markdown for the above:
[code]

[2018-06-06 14:04] samuelralak commented on #192
@emurgobot remove "in progress"

[2018-06-06 14:04] #191 closed

[2018-06-06 14:05] samuelralak commented on #192
@emurgobot label "done"

[2018-06-06 14:05] samuelralak commented on #192
done in #203

[2018-06-06 14:05] samuelralak commented on #110
@emurgobot claim

[2018-06-06 14:06] samuelralak commented on #110
@emurgobot label "in progress"

[2018-06-06 14:19] gazhayes opened #204 "problem: incorrect validation of field lengths"
problem: incorrect validation of field lengths

<img width="275" alt="screen shot 2018-06-06 at 10 18 46 pm" src="https://user-images.githubusercontent.com/8143945/41043976-bacaf0b8-69d7-11e8-9206-406aa9a39be6.png">

[2018-06-06 14:29] chamidu-supeshala commented on #202
@emurgobot claim

[2018-06-06 14:47] gazhayes opened #205 "problem: no solved problems graph"
problem: no solved problems graph

solution: use chart.js to render a bar chart on the /stats route above the table.

The x-axis should be user's names, and y-axis (the bars) should be how many problems they have solved.

[2018-06-06 14:47] #192 closed

[2018-06-06 14:57] samuelralak commented on #205
whoever will take this might consider checking out `https://coreui.io/demo/#main.html` for examples on how they could structure the UI. CoreUI uses chartjs as well.

[2018-06-06 15:37] chamidu-supeshala commented on #204
fixed #207
@emurgobot done
@emurgobot label "done"

[2018-06-06 19:10] anbud commented on #195
Done in #208.

@emurgobot label "done"

[2018-06-06 19:12] anbud commented on #205
@emurgobot claim

[2018-06-07 00:49] geekyd commented on #33
@gazhayes Apologies for the delay. I was a bit caught up. I have added basic functionality. Will add the logic for circular dependency in the next PR. If possible please suggest some solution that does not include exhaustive search.

[2018-06-07 00:50] geekyd commented on #33
fixed #209
@emurgobot done
@emurgobot label "done"

[2018-06-07 03:14] #204 closed

[2018-06-07 03:14] #202 closed

[2018-06-07 03:14] #195 closed

[2018-06-07 03:14] #33 closed

[2018-06-07 03:18] gazhayes opened #210 "problem: no dependency indication on sub-problem"
problem: no dependency indication on sub-problem

solution:
1. add a warning bar or something to sub-problem's detail page saying "this problem is blocking x other problems from being completed"
2. Put a warning icon in-line next to the problem summary on the home route

[2018-06-07 03:20] gazhayes opened #211 "problem: cannot un-link dependencies"
problem: cannot un-link dependencies once they have been linked. Sometimes people might add one as a mistake and need to remove it.

[2018-06-07 03:20] gazhayes opened #212 "Problem: status of dependencies not shown on parent problem detail page"
Problem: status of dependencies not shown on parent problem detail page

[2018-06-07 03:30] gazhayes opened #213 "Problem: users cannot "un-solve" problems"
Problem: when a user says they have solved a problem and the problem is labelled "ready for review" they can't undo this.

solution: allow users to un-solve, this should also delete the highlighted solved message.

[2018-06-07 03:34] gazhayes opened #214 "problem: problem owners can't deal with solutions that don't solve the problem"
problem: problem owners can't deal with solutions that don't solve the problem

solution: when a problem is tagged as "ready for review" allow problem owners to nullify this. This should convert the highlighted "solution" into an ordinary message and tag the problem as "open". This should notify the person who originally "solved" it.

Prompt the owner to explain why this solution didn't work and p

[2018-06-07 06:23] gazhayes opened #215 "problem: no time estimates"
Problem: when claiming a problem, users cannot add a time estimate.

solution: allow a time estimate to be entered when users claim a problem. It should appear in the UI as "estimated workload in minutes (optional)".

This can then be added to the problem detail page and the table view of problems.

[2018-06-07 06:46] gazhayes opened #216 "problem: incorrect claimed stats for some users"
Problem: some users are not seeing the right stats for their own items.

For example:
This is what user Ryan King sees as his own stats:
![photo6109611410175666186](https://user-images.githubusercontent.com/8143945/41082608-79b1de9a-6a61-11e8-80d7-dc403b9ed42b.jpg)

This is what I see:
<img width="1417" alt="screen shot 2018-06-07 at 2 46 09 pm" src="https://user-images.githubusercontent.com/81439

[2018-06-07 08:49] AshHimself commented on #213
@emurgobot claim

[2018-06-07 09:45] AshHimself commented on #213
Done in #218

@emurgobot label "done"

[2018-06-07 12:13] AshHimself commented on #215
@emurgobot claim

[2018-06-07 12:37] #213 closed

[2018-06-07 12:47] gazhayes opened #220 "problem: when maintainers delete a problem no record is kept"
problem: when maintainers delete a problem no record is kept, and no feedback is provided to the user

Solution: prompt the maintainer for a reason why they are deleting the problem. Add this as a comment on the problem detail page but as a warning box or something very obvious.

Instead of removing the object from the collection, add a "maintainer removed" flag (or whatever) and hide it from the

[2018-06-07 13:46] gazhayes opened #221 "problem: users aren't given enough guidance on how to log problems"
problem: users aren't given enough guidance on how to log problems

solution: add a modal for each field of the new problem page.

Problem statement field:

Solution statement field:

Problem summary field:

[2018-06-07 13:49] gazhayes opened #222 "problem: searching box for adding dependencies only searches left to right"
problem: searching box for adding dependencies only searches left to right. For example, if a problem summary is: "the front door is broken" then users have to start typing "the....", typing "door" will reveal nothing.

[2018-06-07 14:11] gazhayes opened #223 "problem: users not acting problems that are ready for review"
problem: users not acting problems that are ready for review

solution: add a notification type icon in the menu bar with a label showing the number of problems owned by this users that are marked as "ready for review". When clicked, direct to a view that shows these problems. Put a heading on the page "Please close these problems if they are solved".

[2018-06-07 18:34] samuelralak commented on #110
@anbud can't get the initial tests to run/fail. I have gone through this guide here `http://webdriver.io/guide/testrunner/gettingstarted.html`. Copied a few test from blockrazor, installed `wdio-mocha-framework: "^0.5.13"` and `"webdriverio": "^4.12.0"`, then ran `./node_modules/.bin/wdio wdio.conf.js`. Getting the following results:
[code]

I have also gone through the guide provided on the meteo

[2018-06-07 18:35] samuelralak commented on #194
@emurgobot claim

[2018-06-07 18:36] samuelralak commented on #194
@emurgobot claim

[2018-06-07 18:40] anbud commented on #110
You still have to install selenium-standalone with `npm install -g selenium-standalone`. Then, open another terninal window and start it with `selenium-standalone start`, and it'll fix the error.

(I'm writing from my mobile, please also check `.travis.yml` file for exact commands, I may have mistyped something)

[2018-06-07 19:35] samuelralak commented on #194
@emurgobot label "done"

[2018-06-07 19:35] samuelralak commented on #194
done #224

[2018-06-07 19:35] samuelralak commented on #196
@emurgobot claim

[2018-06-07 19:36] samuelralak commented on #196
@emurgobot label "in progress"

[2018-06-07 20:47] anbud commented on #205
Done in #225.

@emurgobot label "done"

[2018-06-07 20:48] anbud commented on #220
@emurgobot claim

[2018-06-07 22:01] anbud commented on #216
@emurgobot claim

[2018-06-07 22:12] anbud commented on #220
Done in #226.

@emurgobot label "done"

[2018-06-07 22:13] anbud commented on #216
I was changing some other stats related stuff in #226 and this one appears to be fixed.
Check it out, please. :)

[2018-06-07 22:15] anbud commented on #223
@emurgobot claim

[2018-06-07 22:16] samuelralak commented on #196
@emurgobot remove "in progress"

[2018-06-07 22:16] samuelralak commented on #196
@emurgobot label "done"

[2018-06-07 22:16] samuelralak commented on #196
done in #227

[2018-06-07 22:17] samuelralak commented on #214
@emurgobot claim

[2018-06-07 22:17] samuelralak commented on #214
@emurgobot label "in progress"

[2018-06-07 22:35] anbud commented on #223
Done in #228.

@emurgobot label "done"

[2018-06-07 22:39] anbud commented on #222
@emurgobot claim

[2018-06-07 23:00] anbud commented on #222
Done in #229.

@emurgobot label "done"

[2018-06-07 23:03] anbud commented on #211
@emurgobot claim

[2018-06-08 00:11] anbud commented on #210
@emurgobot claim

[2018-06-08 01:20] gazhayes opened #231 "problem: minutes estimate is on new problem page"
problem: minutes estimate is on new problem page, but sometimes the solution is not clear until after a few people have commented.

solution: only ask for minutes when claiming a problem, not when logging a problem. Put it in a modal and specify that this is the estimated *workload* and not time to completion.

[2018-06-08 01:28] #222 closed

[2018-06-08 01:28] #220 closed

[2018-06-08 01:32] #216 closed

[2018-06-08 01:32] #211 closed

[2018-06-08 01:33] #205 closed

[2018-06-08 01:33] #196 closed

[2018-06-08 01:33] #194 closed

[2018-06-08 01:34] #193 closed

[2018-06-08 01:34] gazhayes opened #232 "problem: search bar in bad position"
problem: search bar in bad position

solution: move to the nav/menu bar.

[2018-06-08 03:09] gazhayes opened #233 "problem: when owners solve a problem a review is still required to close it"
problem: when owners solve a problem a review is still required to close it. Owners who claim and then solve a problem still have to click "XXX XXX has solved this problem".

solution: if the **owner** of a problem claims a problem and then solves it, mark it as fixed/solved instead of "ready for review"

[2018-06-08 03:09] #215 closed

[2018-06-08 05:15] AshHimself commented on #231
@emurgobot claim

[2018-06-08 06:35] gazhayes opened #234 "Problem: not sure what this blue background is for"
Problem: not sure what this blue background is for and I don't really have time to work it out. Whoever knows, please let me know :)

<img width="1662" alt="screen shot 2018-06-08 at 2 34 36 pm" src="https://user-images.githubusercontent.com/8143945/41142709-331b7f68-6b29-11e8-8af8-9cb03473895f.png">

[2018-06-08 06:40] samuelralak commented on #234
Those are problems with Emurgis itself

On Fri, 8 Jun 2018 at 09:35, Gareth Hayes <notifications@github.com> wrote:

[2018-06-08 06:43] gazhayes commented on #234
Thanks @samuelralak

[2018-06-08 06:43] #234 closed

[2018-06-08 06:43] gazhayes opened #235 "Problem: "Emurgis" checkbox doesn't work"
Problem: "Emurgis" checkbox doesn't work. It is not applying any filtering.

[2018-06-08 07:08] gazhayes opened #236 "Problem: [regression] owners cannot close problems"
Problem: [regression] owners cannot close problems once solved. The "XXX XXX has solved this problem" button is gone.

[2018-06-08 07:12] samuelralak commented on #236
@gazhayes apologies, I intentionally left that button out since the `accept solution` button would also close the the problem. But come to think of it, users would also need to close the problem without explicitly accepting a solution. I honestly failed here 🤦‍♂️

[2018-06-08 07:14] gazhayes commented on #236
Oh wait, this is actually my fault, I just didn't see the button to accept the solution.

[2018-06-08 07:17] gazhayes commented on #236
OK it turns out this is broken for old problems that were created before we implimented the "solution" box. We can deal with this manually so that's cool.

[2018-06-08 07:17] #236 closed

[2018-06-08 07:41] AshHimself commented on #231
Fixed in #237
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-08 07:46] AshHimself opened #238 "problem: Bad UX in menu"
problem: The current menu is offering a bad UX and will not scale well.

solution: where possible make use of current views and use drop down filters to change the data set. No need to have 3 views to see (requested, claimed, rejected etc) suggest adding a drop down filter with common options?

[2018-06-08 07:47] AshHimself commented on #221
A modal? Are you thinking a little ? icon what the click to get this information?

[2018-06-08 07:59] gazhayes commented on #238
The separation of views (linked on sidebar) makes it a lot easier for users, think of it as just saving the right checkbox options to quickly switch between them instead of having to manually edit the view every 2 seconds.

Apart from that, yeah the checkboxes are getting cluttery.

[2018-06-08 08:02] gazhayes commented on #221
A modal that pops up when they start editing these fields will solve the problem. Now, it will introduce the problem of an annoying modal that pops up each time they add a problem but that can be resolved by letting them turn it off permanently and adding a help icon. It would also be good to allow maintainers to reset the flag that turns it off so that it's forced back on again for users who keep

[2018-06-08 13:44] anbud commented on #210
Done in #239.

@emurgobot label "done"

[2018-06-08 14:00] anbud commented on #212
Done in #240.

@emurgobot label "done"

[2018-06-08 14:00] anbud commented on #235
@emurgobot claim

[2018-06-08 14:08] anbud commented on #235
Fixed in #241.

@emurgobot label "done"

[2018-06-08 14:19] gazhayes opened #242 "Problem: some users are accidentally making Emurgis problems"
Problem: Users sometimes tick the Emurgis box by accident when adding problems

Solution: Add a heading to the page when the Emurgis box is ticked "You are reporting a problem with the Emurgis platform itself", also maybe make the background of the page or form "emurgis" blue or something.

[2018-06-08 14:57] samuelralak commented on #214
@emurgobot remove "in progress"

[2018-06-08 14:57] samuelralak commented on #214
@emurgobot label "done"

[2018-06-08 14:58] samuelralak commented on #214
done in #244

[2018-06-08 15:03] samuelralak commented on #242
@emurgobot claim

[2018-06-08 15:03] samuelralak commented on #242
@emurgobot label "in progress"

[2018-06-08 15:33] samuelralak commented on #242
@emurgobot remove "in progress"

[2018-06-08 15:33] samuelralak commented on #242
@emurgobot label "done"

[2018-06-08 15:33] samuelralak commented on #242
done in #245

[2018-06-08 15:34] samuelralak commented on #232
@emurgobot claim

[2018-06-08 15:34] samuelralak commented on #232
@emurgobot label "in progress"

[2018-06-08 19:43] anbud commented on #221
@emurgobot claim

[2018-06-10 03:11] #242 closed

[2018-06-10 03:11] #235 closed

[2018-06-10 03:11] #233 closed

[2018-06-10 03:12] #231 closed

[2018-06-10 03:12] #221 closed

[2018-06-10 03:12] #214 closed

[2018-06-10 03:12] #212 closed

[2018-06-10 03:13] #210 closed

[2018-06-10 03:16] gazhayes opened #247 "Problem: cannot upload images"
Problem: cannot upload images when adding a new problem or making a comment.

solution: don't re-invent the wheel. Copy all the image uploading stuff from Blockrazor. Upload directory should be /var/www/static/images. One difference between this and blockrazor however is that we don't need to prevent the same image being uploaded multiple times.

[2018-06-10 04:12] gazhayes opened #248 "Problem: cannot add dependency from sub-problem"
Problem: currently, dependencies can only be added *as* dependencies. It's not possible to add parents to a problem.

Solution: on the problem creation/edit view, allow adding parents in the same way that dependencies are currently added. This should be phrased carefully to avoid confusion: "The following problems cannot be completed until this problem is closed" followed by "Add new".

[2018-06-10 07:45] AshHimself commented on #247
@emurgobot claim

[2018-06-10 07:47] AshHimself commented on #247
@gazhayes - Only different I think is possibly making this into a reusable method. We had a lot of code duplication on BR.

[2018-06-10 09:19] gazhayes opened #249 "Problem: problems with unmet dependencies not greyed out"
Problem: problems with unmet dependencies not greyed out.

Solution: problems that have any dependencies that are not fixed/solved should have a grey background in the list view.

[2018-06-10 13:51] gazhayes commented on #232
@samuelralak how you going with this?

[2018-06-10 15:12] anbud commented on #249
@emurgobot claim

[2018-06-10 16:40] samuelralak commented on #232
Its been a generally unproductive weekend, just getting back to the grind 😢

@gazhayes  the search filter is 'tightly' coupled with the documents-index (problems) page. Moving its position to the header will not work, at least not without changing its current implementation or hacking it somehow. Am thinking of floating the search input to the left of the problems page. This may not follow the ori

[2018-06-10 16:46] anbud commented on #232
@samuelralak, if you want to 'hack' it, you can put the search bar in the header and access reactive-vars (filter) and everything from the documents-index template with `Blaze.getView()`. [Here's an example](https://gist.github.com/hexsprite/1c5de32266f8e77d0d1a) of how that works. That way you can easily set the filter, even though it's on a different template.

[2018-06-10 16:47] samuelralak commented on #232
aah I see. giving that a try now

[2018-06-10 17:01] anbud commented on #249
Done in #250.

@emurgobot label "done"

[2018-06-10 17:03] anbud commented on #248
@emurgobot claim

[2018-06-10 17:40] samuelralak commented on #232
@emurgobot remove "in progress"

[2018-06-10 17:41] samuelralak commented on #232
@emurgobot label "done"

[2018-06-10 17:41] samuelralak commented on #232
done in #251

[2018-06-10 18:08] samuelralak commented on #110
so if you are on MacOS, its worth noting that you will need to change the binary directory to `/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome`. The default is `/usr/bin/google-chrome-stable` which is the default install location for Linux.

reference: `https://github.com/SeleniumHQ/selenium/wiki/ChromeDriver#view-all-chromedriver-downloads`

[2018-06-10 18:45] anbud commented on #248
Done in #252.

@emurgobot label "done"

[2018-06-11 01:36] gazhayes opened #253 "Problem: only problem owners can add dependencies and parents"
Problem: only problem owners can add dependencies and parents

Solution: move the dependencies and parents thing to the take action box, and allow all users to add. Allow maintainers and owners to remove.

[2018-06-11 01:36] #249 closed

[2018-06-11 01:36] #248 closed

[2018-06-11 01:36] #232 closed

[2018-06-11 05:48] AshHimself commented on #238
ok let's do another ticket for checkboxes then if that's the case. Works for me.

[2018-06-11 05:48] #238 closed

[2018-06-11 06:01] gazhayes commented on #238
@AshHimself can you log it?

[2018-06-11 06:28] AshHimself commented on #247
@emurgobot unclaim

I'm wasting time on this trying to get my upload stuff working on windows. I get my macbook back this week but until then someone else could probably do this.

[2018-06-11 08:32] AshHimself commented on #238
To confirm. Raise a ticket to cleanup the filter? but leave the menu as is?

On Mon, Jun 11, 2018 at 2:01 PM Gareth Hayes <notifications@github.com>
wrote:

[2018-06-11 09:43] gazhayes commented on #238
Ah, yeah keep the sidebar, it makes it nice and easy to use. But definitely clean up the filter menu(s)

[2018-06-11 10:45] anbud commented on #253
@emurgobot claim

[2018-06-11 13:05] anbud commented on #253
Done in #254.

@emurgobot label "done"

[2018-06-11 13:06] anbud commented on #247
@emurgobot claim

[2018-06-11 14:35] #253 closed

[2018-06-11 15:13] anbud commented on #247
Done in #255.

@emurgobot label "done"

[2018-06-11 15:34] Ayanrocks opened #256 "Problem: Sign In Button not working in local environment"
Problem: The sign in button is not working while running locally

[2018-06-11 15:35] Ayanrocks commented on #247
Remember to close this issue

[2018-06-11 15:38] #247 closed

[2018-06-11 15:39] gazhayes commented on #256
What happens exactly?

[2018-06-11 15:41] gazhayes opened #257 "Problem: search bar doesn't search comments"
Problem: search bar doesn't search comments, only problems objects.

[2018-06-11 15:43] Ayanrocks commented on #256
the Sign in button console.logs "called" which is fine then an error throws up saying notify is not defined. But i am not redirected to Oauth portal.

[2018-06-11 16:02] Ayanrocks opened #258 "Problem: Build failed. undefined variable while processing with fourseven:scss"
Problem: while building locally it shows
`While processing files with fourseven:scss (for target web.browser):
   /client/main.scss: Scss compiler error: Undefined variable: "$table-caption-color".`
on linux x64 ubuntu 16.04

[2018-06-11 19:41] anbud commented on #258
I've actually encountered this on other repositories in `EmurgoHK`, but not this one. You can try to replace contents of `/imports/ui/stylesheets/bootstrap/bootstrap_variables.scss` with contents of the same file from `Emurgolance` or `Emurpas` repositories, it'll probably help.

[2018-06-11 19:43] anbud commented on #256
You'll have to configure it first, but since we've switched to a regular button, it doesn't show the UI for configuration on the first run anymore.

Add {{> loginButtons }} somewhere (header or something), and it'll show you the configuration UI, or configure it manually in the database.

[2018-06-11 19:45] samuelralak commented on #110
@anbud how would you stub/mock a logged in user from wdio ui-test. Found very little help regarding this online?

[2018-06-11 20:09] anbud commented on #110
You can see an example on Blockrazor, in typeahead.ui-test.js (somewhere in components folder). Basically, create a small method that creates a test user, call it from WDIO, and call Meteor.loginWithPassword with created credentials afterwards.

[2018-06-11 23:33] anbud commented on #257
@emurgobot claim

[2018-06-11 23:58] anbud commented on #257
Done in #259.

@emurgobot label "done"

[2018-06-11 23:59] anbud commented on #258
I'm talking about [this file](https://raw.githubusercontent.com/EmurgoHK/Emurgolance/master/imports/ui/stylesheets/bootstrap/bootstrap_variables.scss), try copying its content.

[2018-06-12 00:00] anbud commented on #110
Basically, [this](https://github.com/Blockrazor/blockrazor/blob/master/imports/ui/components/typeahead.ui-test.js#L47-L65).

[2018-06-12 01:34] #257 closed

[2018-06-12 01:35] gazhayes commented on #256
Might be worth adding something to if in development mode to make this easier.

[2018-06-12 04:35] Ayanrocks commented on #256
Don't you think this should be properly documented in the readme.md? Should I update the readme.md ?

[2018-06-12 04:36] gazhayes commented on #256
Yeah definitely, that's a perfectly valid way to solve it.

[2018-06-12 04:37] Ayanrocks commented on #258
In that case I think this repo needs to be updated then

[2018-06-12 04:43] Ayanrocks commented on #256
@anbud  Could you explain a little bit? Iadded {{>loginButtons}} in the header.html but it didn't showed the configuration. I think the authentication needs to be fixed

[2018-06-12 04:44] Ayanrocks commented on #258
@emurgobot claim

[2018-06-12 05:25] Ayanrocks opened #261 "Problem: command to insert in mongo is throwing an error"
Problem: The command to insert in mongo locally which is
`wget https://fixme.fixme/static/dump.tar.gz && tar -xvf dump.tar.gz && mongorestore -h 127.0.0.1 --port 3001 -d meteor dump/meteor`
is throwing the following error:
`
--2018-06-12 10:49:08--  https://fixme.fixme/static/dump.tar.gz
wget: /home/ayanrocks/.netrc:4: unknown token "method"
wget: /home/ayanrocks/.netrc:4: unknown token "interacti

[2018-06-12 05:46] AshHimself commented on #258
Glad I saw this, I burned burned 30mins chasing down this issue whilst porting blockrazor over to coreUI!!

[2018-06-12 06:18] #258 closed

[2018-06-12 06:48] gazhayes commented on #261
This is not a mongo error it's simply a URL error because we haven't been publishing the database.

The solution is actually to remove that part from the Readme.

[2018-06-12 06:49] gazhayes commented on #256
The simplest solution here is to use email auth if in development mode.

[2018-06-12 07:01] Ayanrocks commented on #261
So then it needs to be removed from all the repos. Seems like the Documentation needs a lot of updating

[2018-06-12 07:18] gazhayes commented on #261
Just remove it from emurgis, the database is not important for development, but on other repos we need to fix the database dump so that it works.

[2018-06-12 08:30] geekyd opened #262 "Problem: bad UX of notifications on nav bar"
Problem: bad UX of notifications on nav bar. When there is no notification the navbar shows the count of 0 which is redundant.

Solution: Only show count when the user receives the notification or has an unread notification

[2018-06-12 08:30] geekyd commented on #262
@emurgobot claim

[2018-06-12 08:40] geekyd commented on #262
Done in #263.

@emurgobot label "done"

[2018-06-12 08:47] geekyd opened #264 "Problem: buggy filter on homepage"
Problem: buggy filter on homepage. The filter for Opened by me does not show any problem.

![screen shot 2018-06-12 at 2 13 59 pm](https://user-images.githubusercontent.com/12807846/41279889-421c7ce0-6e4b-11e8-9938-cbd2b0753129.png)
![screen shot 2018-06-12 at 2 14 28 pm](https://user-images.githubusercontent.com/12807846/41279890-4246286a-6e4b-11e8-9661-d1adbb93cea8.png)

Solution: The filters mu

[2018-06-12 08:47] geekyd commented on #264
@emurgobot claim

[2018-06-12 10:04] #262 closed

[2018-06-12 10:07] geekyd commented on #264
Closing this. My bad the filter are working as expected.

[2018-06-12 10:07] #264 closed

[2018-06-12 10:44] geekyd opened #265 "Problem: user able to enter negative estimate in /new"
Problem: user able to enter negative estimate in /new

Solution: Add a validation using simple schema to make sure that estimate is positive

[2018-06-12 10:44] geekyd commented on #265
@emurgobot claim

[2018-06-12 11:11] geekyd commented on #265
Done in #266

@emurgobot label "done"

[2018-06-12 12:36] samuelralak commented on #110
@anbud still cannot simulate a logged in user nor access pages that require a logged in user even though it seems that there isn't any issue with `Meteor.loginWithPassword`.  However, am not going to spend any more time on this, will my changes later on today.

[2018-06-12 14:08] #265 closed

[2018-06-12 17:37] samuelralak commented on #110
@emurgobot remove "in progress"

[2018-06-12 17:44] samuelralak commented on #110
I cannot test pages that require log in permissions. I also failed to generate data and test the existence of the generated data from the client side tests. I have added some initial tests though, testing the basic stuff without login.

I yield for now but will try out other testing frameworks and see what may work better.

[2018-06-12 23:13] anbud commented on #110
The problem with user creation was caused by `accounts-config.js` file, it expected that all users would register via Gmail.

I've added lots of new tests in #268, but I'm leaving this open for a bit as I still have to figure out the best way to test certain aspects (e.g. solving problems), but, it's mostly tested now. :)

[2018-06-13 14:49] anbud commented on #110
I've added the rest of the tests in #269. I believe we're covered now.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-14 03:06] gazhayes opened #270 "problem: cannot mark all notifications as read"
problem: cannot mark all notifications as read

solution: add a button to mark all as read

[2018-06-14 03:07] geekyd commented on #270
@emurgobot claim

[2018-06-14 03:32] Ayanrocks commented on #256
Will the authentication ever get fixed. And how to configure email auth.

[2018-06-14 03:35] gazhayes commented on #256
@Ayanrocks  you should look at the Meteor documentation to learn a bit more about Meteor.

[2018-06-14 04:28] geekyd commented on #270
Done in #271

@emurgobot label "done"

[2018-06-14 05:06] Ayanrocks commented on #256
The email auth is already set as testing but still its not logging in.

[2018-06-14 07:22] gazhayes opened #272 "problem: tests are failing"
problem: tests are failing

ping @anbud @AshHimself

[2018-06-14 07:23] #270 closed

[2018-06-14 07:33] Ayanrocks commented on #261
@emurgobot claim

[2018-06-14 07:50] Ayanrocks commented on #261
@emurgobot  done

[2018-06-14 08:17] anbud commented on #272
I'll fix them.

@emurgobot claim

[2018-06-14 12:38] anbud commented on #272
Fixed in #274.

@emurgobot label "done"

[2018-06-14 14:42] geekyd opened #275 "Problem: redundant options in user dropdown"
Problem: redundant options in user dropdown
![b2072dc7-1fe5-4237-ad8e-aeaf75674614](https://user-images.githubusercontent.com/12807846/41419261-3d377e80-700f-11e8-993d-4c148b08013f.png)

Solution: remove the redundant options from the user dropdown

[2018-06-14 14:51] geekyd commented on #275
@emurgobot claim

[2018-06-14 15:17] geekyd commented on #275
Fixed in #276 .

@emurgobot label "done"

[2018-06-15 12:19] #275 closed

[2018-06-15 15:57] nguyenngoi commented on #256
@emurgobot claim

[2018-06-15 16:14] nguyenngoi commented on #256
@emurgobot label "done"

[2018-06-15 17:09] anbud commented on #272
They appear to be failing again for some reason. I'll check it out.

@emurgobot remove "done"

[2018-06-15 22:00] anbud commented on #272
Should be fixed in #278.

@emurgobot label "done"

[2018-06-16 02:52] gazhayes opened #279 "Problem: can't see which problems a problem is blocking"
Problem: it's not possible to see exactly which problems are being blocked by a child dependency.

solution: add a list of parent issues on the currency detail page. Instead of the banner "this problem is blocking 1 other problem from being completed" add "this problem is blocking the following problems from being completed" and list them with links back to those problems.

[2018-06-16 03:11] gazhayes opened #280 "problem: no user profile page to see other user's details"
problem: there's currently no detailed view of users

solution: add a basic user profile view where other users can see details about that user.
- A list of problems they have solved
- A list of problems they have logged
- Their recent activity (comments, logged problems, claimed problems, solved problems, closed problems)

[2018-06-16 03:51] geekyd commented on #279
Fixed in #281

@emurgobot label "done"

[2018-06-16 03:51] geekyd commented on #279
@emurgobot remove "in progress"

[2018-06-16 03:52] geekyd commented on #280
@emurgobot claim

[2018-06-16 04:04] gazhayes commented on #279
@geekyd I think something might have broken with your last PR, I no longer see anything on a dependency to indicate that it's blocking anything.

[2018-06-16 14:38] geekyd commented on #279
@gazhayes I'm sorry about the confusion, fixing it.

[2018-06-16 15:15] geekyd commented on #279
Fixed in #283

@emurgobot label "done"

[2018-06-16 20:04] geekyd commented on #280
Fixed in #284

@emurgobot label "done"

[2018-06-16 20:07] geekyd commented on #280
@emurgobot remove "in progress"

[2018-06-17 00:08] #280 closed

[2018-06-17 00:09] gazhayes opened #286 "problem: no link to view other user's profile page"
problem: no link to view other user's profile page

solution: add links to names on the stats page

[2018-06-17 00:14] gazhayes opened #287 "problem: multi-levels of parents not shown on dependencies"
**problem:** multi-levels of parents not shown on dependencies, only the first level is shown.

For example, this problem has multiple layers of parents:
<img width="674" alt="screen shot 2018-06-17 at 8 10 52 am" src="https://user-images.githubusercontent.com/8143945/41503410-2a48f102-7206-11e8-8679-45dccf834b7f.png">
but the next layer can only be seen when you actually open the first layer:
<im

[2018-06-17 00:15] #279 closed

[2018-06-17 00:15] #272 closed

[2018-06-17 00:15] #261 closed

[2018-06-17 00:15] #256 closed

[2018-06-17 00:45] gazhayes opened #288 "problem: layout isn't very good on small screens"
problem: layout isn't very good on small screens. Emurgis needs to work *really* well on phones since a lot of people catch up with this stuff on the train or whatever on the way to work.

The things that are important are viewing problems, commenting, adding problems, etc. Things like the stats page aren't important for mobile.

[2018-06-17 00:49] AshHimself commented on #288
@emurgobot claim

[2018-06-17 00:59] geekyd commented on #286
@emurgobot claim

[2018-06-17 06:34] AshHimself commented on #288
@gazhayes - first pass is done. I honestly think viewing problems as cards on a mobile device will offer a better UX and remove the need for scrolling horizontally (this is the approach most apps take, checkout the Jira mobile app. Amazing UX)

[2018-06-17 06:43] gazhayes commented on #288
Yeah I agree, you can do it that way if you want ;)

But keep it as a table for larger screens

[2018-06-17 09:45] anbud commented on #287
@emurgobot claim

[2018-06-17 20:00] anbud commented on #287
Done in #292.

Please note that previous code didn't prevent cycle creation, so dependency trees may look weird if the tree contains cycles. I've added a depth limit of 25 to prevent stack overflow if cycles appear. Adding cycles should no longer be possible.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-18 02:43] geekyd opened #293 "Problem: missing test for checking circular dependencies"
Problem: missing test for checking circular dependencies

Solution: Add tests for circular dependencies

[2018-06-18 02:43] geekyd commented on #293
@emurgobot claim

[2018-06-18 18:44] geekyd commented on #293
Done in #294

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-19 00:52] gazhayes opened #295 "problem: header layout is weird"
problem: header layout is weird

solution: align logo and search bar to the left

[2018-06-19 00:57] gazhayes opened #296 "problem: discrepancy between completed problems and actual completed problems"
problem: on the statistics page the total number of completed problems does not match the number of solved problems listed on the user's profile.

solution: I haven't checked where the numbers come from (completed problems) but it should match the total number of problems that user has solved (as listed on the user's profile page).

Probably should change the name to "solved problems" too instead

[2018-06-19 03:52] geekyd commented on #296
@emurgobot claim

[2018-06-19 04:54] Ayanrocks opened #297 "Why using Blaze?"
Its not a problem but why using Blaze as template engine instead of  React.

[2018-06-19 05:01] AshHimself commented on #297
I don't know React :D Also, all other projects are Blaze so we'd need to pretty good reason to switch IMO.

[2018-06-19 05:12] Ayanrocks commented on #297
Ya but react is pretty fast and scalable too. With its virtual dom its faster than blaze.

[2018-06-19 05:16] gazhayes commented on #297
Any of these projects could easily evolve under the C4 and end up using react (or whatever else), but right now the simplest solution to the problem is to use blaze. If the simplest solution to any given problem is to use react there's nothing stopping anyone from using it as a module together with blaze. If more and more problems start being easier to solve with react the simplest solution at som

[2018-06-19 05:29] Ayanrocks commented on #295
@emurgobot claim

[2018-06-19 06:01] Ayanrocks commented on #295
@emurgobot label "done"

[2018-06-19 06:29] #297 closed

[2018-06-19 06:30] #293 closed

[2018-06-19 06:31] gazhayes commented on #295
@emurgobot done

[2018-06-19 06:31] #295 closed

[2018-06-19 06:31] #287 closed

[2018-06-19 06:31] #286 closed

[2018-06-19 07:00] geekyd commented on #296
@gazhayes I have looked into some cases where the user stats can be incorrect in the stats page. If a user claimed an issue & the owner deletes it or a user solved the issue & the owner closes it.

In either case the problems won't show up on the profile page as it makes direct query. In case of stats it will still show up.

There are a few solutions that we can follow here:
- Replace hard delete

[2018-06-19 07:05] Ayanrocks opened #300 "Problem: Documentation not clear"
Problem: Readme.md needs to be updated with proper instructions

[2018-06-19 07:05] Ayanrocks commented on #300
@emurgobot claim

[2018-06-19 07:13] geekyd opened #301 "Problem: same color of status badge as background for dependent problems"
Problem: same color of status badge as background for dependent problems

Solution: Change the color of the badge
![screen shot 2018-06-19 at 12 43 21 pm](https://user-images.githubusercontent.com/12807846/41582146-68993728-73be-11e8-802c-acafca7e380c.png)

[2018-06-19 07:16] Ayanrocks commented on #300
@emurgobot label "done"

[2018-06-19 07:16] #300 closed

[2018-06-19 07:36] geekyd opened #303 "Problem: bad ui for dependencies on new problem form"
Problem: bad ui for dependencies on new problem form

Solution: improve the UI of the dependencies. Use same styling used in `/:id`

[2018-06-19 08:04] gazhayes opened #304 "problem: not clear what time estimates are"
problem: it's not clear what time estimates are for.

solution:

<img width="440" alt="screen shot 2018-06-19 at 3 45 06 pm" src="https://user-images.githubusercontent.com/8143945/41583771-0d34cdba-73d8-11e8-80b1-325cf0500847.png">
Change to "Estimated workload: xx minutes"
<hr />
<img width="175" alt="screen shot 2018-06-19 at 3 50 22 pm" src="https://user-images.githubusercontent.com/8143945/415

[2018-06-19 08:05] gazhayes opened #305 "problem: estimate workload is asked on the new problem page"
problem: estimate workload is asked on the new problem page

solution: remove this from the new problem page, and only ask when claimed.

[2018-06-19 08:06] gazhayes opened #306 "problem: double text on new problem page"
problem:
<img width="1574" alt="screen shot 2018-06-19 at 4 06 02 pm" src="https://user-images.githubusercontent.com/8143945/41584776-bb5a4684-73da-11e8-9fc4-2c18cc0fa302.png">

[2018-06-19 08:12] gazhayes opened #307 "Problem: can't ping other users"
Problem: can't ping other users

Solution: add a "mentions" view that shows all problems where the current username is mentioned anywhere (problem/solution/comments).

Instead of hardcoding the username as a search pattern, add this as one of the 'tags' to be searched. Allow the user to add new tags to this list so that they can add nicknames.

The regex used for search should also catch when peop

[2018-06-19 08:27] geekyd commented on #307
@gazhayes We should only allow the users to ping using `@` in this case, as it is the most widely used UX. What do you think ?

[2018-06-19 08:27] geekyd commented on #307
@emurgobot claim

[2018-06-19 09:09] gazhayes commented on #296
Do the 2nd one, but at the same time, it has to be **very** clear that deleting it means that the problem was not solved, instead it was circumvented (found out after discussion that it's not actually a problem). In fact, we should replace "delete" with something like "oops, I thought this was a problem but it's actually not a problem".

So just to be clear: when a owner marks a problem as solved,

[2018-06-19 09:10] gazhayes opened #308 "Problem: links on user profile page do not go back to the actual issue"
Problem: links on items on user profile page do not go back to the actual issue

[2018-06-19 09:54] gazhayes commented on #301
Actually a nicer solution (the grey rows don't look very good) is to remove the specific colouring of the table rows and instead add a stop sign icon (or whatever), similar to how we show dependencies.

[2018-06-19 09:55] gazhayes commented on #301
This icon in red will do nicely: https://fontawesome.com/icons/ban?style=solid

[2018-06-19 09:57] gazhayes commented on #307
Hmmm, it's still nice to see when someone mentions your name though, even if they aren't specifically asking you for something.

[2018-06-19 10:01] gazhayes commented on #296
Actually now I'm confused, but I think you've got it under control.

If a an owner deletes their problem without marking it as solved, no stats should be added. But the stats show more resolved problems than actually exist so I assume that when an owner deletes a problem it *is* being added to stats but it shouldn't be.

[2018-06-19 10:03] samuelralak commented on #306
@emurgobot claim

[2018-06-19 10:14] samuelralak commented on #306
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-19 10:14] samuelralak commented on #306
done in #309

[2018-06-19 10:15] samuelralak commented on #305
@emurgobot claim

[2018-06-19 10:17] geekyd commented on #296
Yes, actually user can delete the problem even if it is marked as solved. When that happens the user stats are not updated. This is why the stats show more problems the user solved. So I will update the stats in case of deletion & hide the delete button when the problem is marked as solved by the owner.

This will solve this edge case.

[2018-06-19 10:29] samuelralak commented on #305
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-19 10:30] samuelralak commented on #305
done in #310

[2018-06-19 10:30] samuelralak commented on #304
@emurgobot claim

[2018-06-19 10:35] geekyd commented on #296
Done in #311

@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-19 10:38] gazhayes opened #312 "Problem: user's date of birth not tracked"
Problem: user's date of birth not tracked

Solution: add user date of birth (store in epoch/unix time).

Add a modal launched automatically after the home route has loaded. Ask for user's date. If already exists, don't launch the modal.

Text for modal: Please enter your date of birth. This will be used as part of the account recovery process if anything goes wrong.

[2018-06-19 10:46] samuelralak commented on #304
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-19 10:46] samuelralak commented on #304
done in #313

[2018-06-19 10:52] samuelralak commented on #301
@emurgobot claim

[2018-06-19 11:05] samuelralak commented on #301
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-19 11:05] samuelralak commented on #301
done in #314

[2018-06-19 11:05] samuelralak commented on #308
@emurgobot claim

[2018-06-19 11:11] AshHimself commented on #288
Problem indexs are now displayed as cards instead of of tables and offers a better ux IMO. I suggest closing this ticket and ill raise more tickets from other responsive issues I have found (not created :) ) #315

[2018-06-19 11:22] samuelralak commented on #308
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-19 11:22] samuelralak commented on #308
done in #316

[2018-06-19 12:03] samuelralak commented on #303
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-19 12:03] samuelralak commented on #303
done in #317

[2018-06-19 13:07] gazhayes commented on #308
Cool new profile pic @samuelralak ;)

[2018-06-19 13:07] #308 closed

[2018-06-19 13:07] #306 closed

[2018-06-19 13:07] #305 closed

[2018-06-19 13:07] #304 closed

[2018-06-19 13:07] #303 closed

[2018-06-19 13:07] #301 closed

[2018-06-19 13:08] #296 closed

[2018-06-19 13:09] samuelralak commented on #308
thank you @gazhayes  😄

[2018-06-19 13:24] gazhayes opened #318 "problem: subscription have to keep reloading"
problem: subscription have to keep reloading. This is especially annoying on mobile. For example when users go to the problem detail page and then back to the home route, the subscriptions reload again from scratch.

solution: i'm pretty sure subscache will fix this.

[2018-06-19 13:28] gazhayes opened #319 "problem: tests are broken"

[2018-06-19 15:12] anbud commented on #318
Yap, SubCache should help.

@emurgobot claim

[2018-06-19 15:13] anbud commented on #319
Shall be fixed.

@emurgobot claim

[2018-06-19 16:41] gazhayes commented on #319
<img width="409" alt="screen shot 2018-06-16 at 11 16 21 am" src="https://user-images.githubusercontent.com/8143945/41611480-8f1a8960-7422-11e8-99ff-c3750e140374.png">

[2018-06-19 18:59] anbud commented on #319
Done in #320.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-19 19:40] anbud commented on #318
Done in #321.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-21 07:38] AshHimself commented on #312
Fixed in #322
@emurgobot label "done"
@emurgobot done

[2018-06-22 03:44] Ayanrocks commented on #312
Please close the issue

[2018-06-22 23:27] AshHimself commented on #288
@gazhayes - anything left on this mate? or you ok to close?

[2018-06-23 01:03] #288 closed

[2018-06-23 01:04] #312 closed

[2018-06-23 01:04] #318 closed

[2018-06-23 01:04] #319 closed

[2018-06-24 06:58] gazhayes opened #324 "problem: value of user's time is not apparent"
problem: users are asked to provide a time estimate when claiming a problem. However there's nothing to remind them of how valuable their time actually is, which means they might do things inefficiently.

Solution:
Inform the user of how many of these tasks they can do before they become useless:

estimated productive time remaining (minutes) = (current age - 65) * 48 * 5 * 6 * 60 * 0.7

[number o

[2018-06-24 07:31] anbud commented on #324
I love this one. :D

@emurgobot claim

[2018-06-24 10:19] anbud commented on #324
Done in #325.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-24 17:57] samuelralak opened #326 "Problem: Navigating to home throws TypeError"
Problem: Navigating to home page when user is signed throws a TypeError in console. Clicking on the home link from another page also becomes unresponsive
<img width="788" alt="screen shot 2018-06-24 at 8 54 07 pm" src="https://user-images.githubusercontent.com/4476552/41821952-2f25c72c-77f1-11e8-9aaf-2c9d8b1859a7.png">

[2018-06-24 17:59] samuelralak commented on #326
@emurgobot claim

[2018-06-25 06:54] #326 closed

[2018-06-25 11:35] #324 closed

[2018-06-25 11:39] gazhayes opened #328 "problem: problems not marked as stale"
problem: problems with no activity for more than 10 days usually have something wrong with them (badly defined, not actionable, etc). The problem creator is not told about this.

solution: problems that have no activity (no comments, no changes to claimed state, etc) should have their state changed to "stale". A new filter should be added too, stale should be hidden by default.

[2018-06-25 13:59] anbud commented on #328
@emurgobot claim

[2018-06-25 20:36] anbud commented on #328
Done in #329.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-26 03:04] geekyd commented on #307
Done in #330

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-26 08:32] samuelralak opened #331 "Problem: can't login to emurgis.org:8000"
Problem: I currently cannot login into the dev test account. Getting the below error which definitely has something to with the Google oAuth setup
<img width="649" alt="screen shot 2018-06-26 at 11 30 00 am" src="https://user-images.githubusercontent.com/4476552/41899199-8712ca40-7934-11e8-8ae8-8705faf9f05d.png">

ping @gazhayes

[2018-06-26 08:33] gazhayes commented on #331
Weird, I didn't change anything

[2018-06-26 08:38] samuelralak commented on #331
I suspect this block of code [here](https://github.com/EmurgoHK/Emurgis/blob/master/imports/startup/server/accounts.js). It runs on start up
[code]

[2018-06-26 08:53] Ayanrocks commented on #331
I think u didnt passed the client_id. How you setted up the oauth?

[2018-06-26 09:04] gazhayes commented on #331
Oauth is configured directly in the database. So yes that code block is probably the problem. Production should only ever look at the database.

[2018-06-26 09:10] samuelralak commented on #331
since google OAuth is no longer needed in development, I would suggest deleting that section into oblivion.  We might as well add the login buttons provided by the accounts package inside the login modal in development.

[2018-06-27 01:37] geekyd opened #332 "Problem: no tests for user api"
Problem: no tests for user api

Solution: Add tests for methods in user api

[2018-06-27 01:37] geekyd commented on #332
@emurgobot claim

[2018-06-29 12:09] #331 closed

[2018-06-30 06:22] akatrodiya opened #335 "Problem: No tests for stats-uploader APIs"
Problem: No tests for stats and uploader api, And For documents and notifications - no tests for publications.

Solution: Add new tests for stats and uploader api, and update documents and notifications tests with it's publications

[2018-06-30 06:50] akatrodiya opened #336 "Problem: Search flow needs to update"
Problem:
1. In Search input, if press Enter key, it reload site.
2. If page is not home page, and try to search then only first char is set to query parameter.
3. If we Enter query params in URL, then search is not working.

Solution:
1. Set prevent on Enter key.
2. Update query params when searching/keyup.
3. get query params from URL, and apply search with that keyword.

[2018-06-30 07:01] gazhayes commented on #336
Each problem must be logged discretely/independently, and "Search flow needs to update" is not descriptive enough, it's important that logged problems be very specific.

[2018-06-30 07:06] akatrodiya commented on #336
sure I'll follow that methodology.. but because Search is in Header I didn't mention it.. but I'll update it.

[2018-06-30 07:15] akatrodiya opened #337 "Problem: In Problem Page, Claim popup without error/success"
Problem: In Problem show/detail page after 'Claim', it open popup to Enter Estimated minutes and if without enter minutes click on 'Estimate' button then popup is close without success/failed message.

Solution: Need to add error(failed) or success message after claim. Also can add error message if estimate time input is empty (like in other places in Problem page).

[2018-06-30 15:48] anbud commented on #335
I'll take care of it. :)

@emurgobot claim

[2018-06-30 20:11] anbud commented on #335
Done in #339.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-30 20:12] anbud commented on #336
@emurgobot claim

[2018-06-30 20:43] anbud commented on #336
Done in #340.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-30 20:45] anbud commented on #337
@emurgobot claim

[2018-06-30 20:53] anbud commented on #337
Done in #341.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-01 04:47] gazhayes opened #344 "problem: date of birth popup displays multiple times"
problem: date of birth popup displays even if a date of birth is in the database.

[2018-07-01 09:32] AshHimself commented on #344
@emurgobot claim

[2018-07-01 11:44] gazhayes opened #346 "problem: can't see which users are online"
problem: can't see which users are online

solution: add a "users online" box in the side menu and list the currently connected users

[2018-07-01 11:58] gazhayes opened #347 "problem: not clear what "add username" modal is for"
problem: not clear what "add username" modal is for, users don't know what it is.

solution: add the following text:
Emurgis wants to notify you when you are mentioned by other users. You can add additional names here in case you commonly go by something other than your real name.

[2018-07-01 12:45] anbud commented on #346
@emurgobot claim

[2018-07-01 13:13] gazhayes opened #348 "problem: usernames for mentions not automatically added to database"
problem: users currently have to manually enter their own name in order to get mention notifications.

solution: on startup, take users' *first* name (use regex or whatever) and add this as a notification username automatically. Add a flag or something so that this only runs once for each user.

[2018-07-01 15:00] chamidu-supeshala commented on #347
@emurgobot claim

[2018-07-01 15:10] chamidu-supeshala commented on #347
fixed #347
@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-01 15:33] chamidu-supeshala commented on #348
@emurgobot claim

[2018-07-01 19:32] anbud commented on #346
Done in #351.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-01 19:47] anbud commented on #344
I may have accidentally fixed this in #346, please check it out. :)

[2018-07-02 03:37] Ayanrocks commented on #348
Why so many issues are open, when its already done?

[2018-07-02 04:02] gazhayes commented on #348
Problems remain open and marked as done until the problem creator has verified that it is solved in production.

[2018-07-02 04:05] gazhayes opened #352 "problem: online users is public"
Problem: the online users box is visible when not logged in.

Solution: only display to logged in users

[2018-07-02 04:19] akatrodiya commented on #352
@emurgobot claim

[2018-07-02 05:04] AshHimself commented on #344
Looks to be fixed for me @emurgobot unclaim

[2018-07-02 05:04] akatrodiya commented on #352
fixed #352
@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-02 13:53] gazhayes opened #354 "problem: users not notified when there's a new FYI issue"
problem: users not notified when there's a new FYI issue

[2018-07-02 19:08] anbud commented on #354
@emurgobot claim

[2018-07-02 20:02] anbud commented on #354
Done in #355.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-03 14:12] akatrodiya opened #356 "Problem: don't understand what roles there are"
problem: don't understand what roles there are

[2018-07-03 14:43] akatrodiya opened #357 "Problem: [Add new Problem page] Dependency search result should have scroll"
Problem: [Add new Problem page] Dependency search result should have scroll - If we have more than 50 results in search, it will make page very long

Solution: Pretty easy to set scroll on specific height for search result.

[2018-07-03 16:46] anbud commented on #356
Currently, there are two roles, regular users and moderators. Moderators just have the `moderator` flag set to true in the user object. :)

[2018-07-04 10:00] MadanBhandari opened #358 "Problem : AUTHORS file link is broken"
Problem : AUTHORS file link is broken in Readme

Solution : Fix the link by correcting file name/path.

[2018-07-04 10:12] MadanBhandari commented on #358
Sorry, I forgot to claim before start. Fixed in #359

@emurgobot label "done"

[2018-07-05 15:03] akatrodiya commented on #356
got it. But current we need to go into database and set this flag, shouldn't we have something from UI?

[2018-07-05 16:47] anbud commented on #356
@gazhayes said that it's a sufficient solution for now. We should probably implement some sort of a moderator/admin panel later on with those functionalities.

[2018-07-06 05:18] Ayanrocks commented on #358
Please also add your name in the AUTHORS file and close this issue.

[2018-07-06 12:50] gazhayes opened #361 "problem: cannot re-open closed issues"
problem: users cannot re-open closed issues unless they were the creator of the issue.

Solution: allow anyone to re-open a closed/solved issue. Transfer ownership to that user. Change the "accepted solution" to a "previously accepted solution" and append a second box where the user who has re-opened it can explain why that solution is no good (ask them this in a modal when they re-open the issue)

[2018-07-06 12:50] #358 closed

[2018-07-06 12:51] gazhayes commented on #356
For now it's ok. I'll add an issue when this becomes a problem (when I want to add more maintainers).

[2018-07-06 12:51] #356 closed

[2018-07-06 12:58] gazhayes opened #362 "Problem: moderators cannot force-unclaim users from issues"
problem: sometimes a user claims an issue but doesn't do anything and doesn't respond for a while so it's better to remove them and let someone else claim it. The problem is moderators can't currently do this.

[2018-07-06 13:00] gazhayes opened #363 "Problem: no mentions tab"
Problem: mentions go into the notifications, but there's no concise way to see all issues where you are mentioned.

[2018-07-06 13:01] gazhayes opened #364 "Problem: cannot like comments"
Problem: sometimes users just want to acknowledge a comment from another user to show their tacit approval.

Solution: add a thumbs up or "like" button and show (on the comment) who liked it.

[2018-07-06 13:04] gazhayes opened #365 "Problem: users cannot show their approval for new problems"
problem: sometimes people add problems but aren't really sure if it's a real problem or not.

Solution: allow other users to react with a "+1" showing that they agree this is a problem that should be solved. Add a modal for the **first time** they click "+1" explaining that:
_This is to let you show {{username}} that you agree this is a problem worth solving_

Hook this into the "reset modals" thi

[2018-07-06 13:09] gazhayes opened #366 "Problem: contributors to Emurgis are not aware of the underlying protocol"
Problem: contributors to Emurgis are not aware of the underlying protocol.

Solution: everyone please have a look at this:
https://docs.google.com/document/d/1CkoIWhhkig_4KzqE9CrDgcCoBL2WHv5ShsB5zDnvxvU/edit#

Feel free to ask any questions (no matter how silly) to clarify things.

This protocol is a work-in-progress, it will be refined along the way.

Emurgis is intended to be a reference impleme

[2018-07-06 13:43] anbud commented on #365
@emurgobot claim

[2018-07-06 15:10] anbud commented on #365
Done in #367.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-06 15:13] anbud commented on #362
@emurgobot claim

[2018-07-06 15:42] anbud commented on #362
Done in #368.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-06 15:42] anbud commented on #361
@emurgobot claim

[2018-07-06 15:43] samuelralak commented on #364
@emurgobot claim

[2018-07-07 10:20] anbud commented on #363
@emurgobot claim

[2018-07-07 23:18] anbud commented on #363
Done in #370.

Please note that the solution is not backward compatible and only new mentions will appear on the `mentions` page while the old ones will stay on the `notifications` page.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-10 06:13] geekyd commented on #307
@gazhayes We can close this one :)

[2018-07-10 09:56] samuelralak commented on #364
@emurgobot remove "in progress"
@emurgobot label "done"

done in #371

[2018-07-10 19:13] geekyd opened #372 "Problem: user notified multiple times for action on problem"
Problem: user notified multiple times for action on problem
![screen shot 2018-07-11 at 12 38 15 am](https://user-images.githubusercontent.com/12807846/42532082-654ab9f2-84a3-11e8-9db6-5bb3bfe4c38d.png)

Solution: user must be notified only once for a single action. Remove multiple notifications & implement single notification of an action

[2018-07-10 19:13] geekyd commented on #372
@emurgobot claim

[2018-07-10 19:19] geekyd commented on #372
Done in #373 .

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-10 19:34] geekyd opened #374 "Problem: user can mark the problem as solved even if dependency is unsolved"
Problem: user can mark the problem as solved even if dependency is unsolved

![screen shot 2018-07-11 at 1 01 51 am](https://user-images.githubusercontent.com/12807846/42533031-4b6225fe-84a6-11e8-9a60-c353a9468a65.png)

Solution: user must only be allowed to mark a problem as solved if the dependencies have been resolved.

[2018-07-10 19:34] geekyd commented on #374
@emurgobot claim

[2018-07-11 10:28] anbud commented on #332
@emurgobot claim

[2018-07-11 11:03] #372 closed

[2018-07-11 11:03] geekyd commented on #374
Done in #375

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-11 12:02] anbud commented on #332
Done in #376.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-11 17:28] #374 closed

[2018-07-12 04:46] akatrodiya commented on #357
@emurgobot claim

[2018-07-12 12:01] gazhayes opened #378 "problem: layout on mobile devices isn't very good"
Problem: there are numerous UI issues on mobile devices/small screens.

Solution: everyone log new issues for each problem found.

[2018-07-12 14:43] geekyd opened #379 "Problem: edit & delete buttons overflow the parent on problems page"
Problem: edit & delete buttons overflow the parent on problems page in case of mobile screens(small screens)
![screen shot 2018-07-12 at 8 11 09 pm](https://user-images.githubusercontent.com/12807846/42640474-00d6c556-8610-11e8-87b8-ca3b1026c05a.png)

Solution: properly align the buttons on problems page in case of small screens

[2018-07-12 14:46] geekyd opened #380 "Problem: content overflowing on notifications page for small screens"
Problem: content overflowing on notifications page for small screens

![screen shot 2018-07-12 at 8 13 54 pm](https://user-images.githubusercontent.com/12807846/42640675-716f1c6e-8610-11e8-9144-802b027ec4bc.png)
Solution: apply responsive design to the page

[2018-07-12 14:48] geekyd opened #381 "Problem: content overflowing on mentions page in small screens"
Problem: content overflowing on mentions page in small screens
![screen shot 2018-07-12 at 8 13 43 pm](https://user-images.githubusercontent.com/12807846/42640784-ada97936-8610-11e8-90c5-f85e1cd4c78b.png)

Solution: implement responsive design to the page

[2018-07-12 14:49] geekyd opened #382 "Problem: content overflowing on stats page in small screens #381"
Problem: content overflowing on stats page in small screens #381
![screen shot 2018-07-12 at 8 19 19 pm](https://user-images.githubusercontent.com/12807846/42640874-e0edb3ca-8610-11e8-9646-e53b62c8c32b.png)

Solution: implement responsive design to the page

[2018-07-13 03:13] AshHimself opened #383 "problem: header is overflowing on mobile"
problem: header is overflowing on mobile

solution: hide some elements when on mobile

[2018-07-13 03:13] AshHimself commented on #383
@emurgobot claim

[2018-07-13 03:49] AshHimself commented on #382
@emurgobot claim

[2018-07-13 06:37] gazhayes opened #386 "problem: when adding dependencies or parents closed issues are searched"
problem: when adding dependencies or parents (when creating a new problem or adding these things to existing problems) closed (fixed/solved) issues are searched and listed.

solution: only search for 'open', 'in progress', or 'ready for review' issues.

[2018-07-13 06:46] geekyd commented on #386
@emurgobot claim

[2018-07-16 04:13] akatrodiya opened #389 "Problem: [Header] Elements are overlay and not aligned in small screen"
Problem: [Header] Elements are overflow and not aligned in small screen, because of more options in header for small screen capacity.

Solution: Properly align the elements and set in responsive view, need to hide options or set it in dropdown to access it.

[2018-07-16 04:29] akatrodiya opened #390 "Problem: [Statistics page] State content overlaying in small screen"
Problem: [Statistics page] State content in table overlaying in small screen

Solution: Set responsive view for this page

[2018-07-16 04:48] akatrodiya opened #391 "Problem: [Common] All content with table view are overlaying"
Problem: [Common] content with table view in all pages are overlaying

Solution: Decide common responsive view for table contents and set it in all pages where contents are displaying in table view

[2018-07-16 04:56] akatrodiya opened #392 "Problem: [Profile page] Profile activity tab title is not aligned in small screens"
Problem: [Profile page] Profile activity tab view is not aligned so it break line view and showing in new line in small screens

Solution: Set responsive view for profile page

[2018-07-16 10:44] gazhayes opened #393 "problem: cannot quote people"
Problem: when quoting people (in comments) the formatting doesn't signify that it's a quote.

solution: perhaps somehow use the '>' mark to delineate quotations and format this differently when rendering the comment.

[2018-07-16 16:00] anbud commented on #393
@emurgobot claim

[2018-07-16 21:38] anbud commented on #393
Done in #394.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-19 05:17] akatrodiya opened #395 "Problem: [Header] Logo overlaying in tablet view"
Problem: [Header] Logo overlaying in tablet view

Solution: set logo or hide it in tablet view

[2018-07-20 10:10] gazhayes opened #396 "problem: cannot ban users"
problem: it's not possible to ban specific users from logging in.

[2018-07-20 10:10] #393 closed

[2018-07-20 10:13] #396 closed

[2018-07-23 01:57] #366 closed

[2018-07-23 01:57] #378 closed

[2018-07-25 04:42] akatrodiya opened #397 "Problem: [Header] Right side elements not align properly, with proper spaces in Tablet"
Problem: Right side elements not align properly, with proper spaces

Solution: Set all header elements with proper space

[2018-07-25 04:49] akatrodiya opened #398 "Problem: [Common] content area is small in small devices"
Problem: content area is small in small devices

Solution: Enlarge content area with reduce margin/padding to every side

[2018-07-26 04:52] akatrodiya opened #399 "Problem: [Home page] 'New Problem' Flow is not correct when user is not logged in"
Problem: click on 'New Problem' button it redirect to sign in

Solution: Open sign in popup, if user not signed in and try to add new problem

[2018-07-26 05:07] akatrodiya opened #400 "Problem: [Profile page] Exception in template helper 'getSummaryById'"
Problem: Exception in template helper 'getSummaryById' and it logs in browser console

Solution: Add proper return value for helper with condition that problem is getting or not

[2018-07-26 05:18] akatrodiya opened #401 "Problem: [State page] Table is not in proper UI/View in Desktop view"
Problem: [State page] Table is not in proper UI/View in Desktop view

Solution : Style Table as in other pages Table view for desktop/Large screen

[2018-07-26 05:23] gazhayes opened #402 "problem: stale issues not displayed by default"
problem: stale issues are not displayed by default and so people forget about them

solution: enable the stale checkbox by default

[2018-07-27 11:17] anbud commented on #399
@emurgobot claim

[2018-07-27 14:35] geekyd commented on #402
@emurgobot claim

[2018-07-27 14:49] geekyd commented on #402
Done in #403 .

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-27 15:14] #402 closed

[2018-07-27 22:05] anbud commented on #399
Done in #404.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-27 22:07] anbud commented on #400
@emurgobot claim

[2018-07-28 20:58] anbud commented on #400
Done in #405.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-29 05:59] gazhayes opened #406 "problem: problems that are ready for review are marked as stale"
problem: problems that are ready for review are marked as stale.

solution: if a problem is ready for review, never mark it as stale.

[2018-07-29 05:59] gazhayes commented on #406
ping @anbud

[2018-07-29 06:03] gazhayes commented on #406
This appears to also be affecting closed problems.

[2018-07-29 07:03] geekyd commented on #406
@emurgobot claim

[2018-07-29 07:52] geekyd commented on #406
Done in #407

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-29 08:51] #406 closed

[2018-07-29 09:04] gazhayes opened #408 "Problem: many issues on production are marked as stale that shouldn't be"
Problem: many issues on production are marked as stale that shouldn't be. This is because the code adding the stale tag was marking closed and pending review issues as stale.

Solution: add something to startup to make status = oldStatus unless oldStatus == open or in progress.

[2018-07-29 09:07] gazhayes opened #409 "problem: rejected problems being marked as stale"
problem: rejected problems being marked as stale

solution:  there may be other statuses now or in the future which should not be marked as stale. At present, all statuses are marked as stale except for those specifically listed. This should be flipped around, no statuses should be marked as stale unless they are "in progress" or "open".

[2018-07-29 22:01] anbud commented on #409
Done in #410.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-29 22:04] anbud commented on #408
@emurgobot claim

[2018-07-30 04:08] akatrodiya commented on #398
@emurgobot claim

[2018-07-30 04:14] #409 closed

[2018-07-30 04:14] #408 closed

[2018-07-30 04:15] gazhayes commented on #400
@akatrodiya can you verify this is fixed and close if so :)

[2018-07-30 04:54] akatrodiya commented on #398
Done in #412

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-30 04:56] #400 closed

[2018-07-30 05:44] akatrodiya commented on #379
Done in #413

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-30 06:02] akatrodiya commented on #380
@emurgobot claim

[2018-07-30 08:49] akatrodiya commented on #380
Done in #415

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-31 04:05] gazhayes opened #420 "problem: incorrect image url"
problem: images are now located at /images/emurgis as of #417

solution: update codebase wherever necessary

[2018-07-31 04:16] samuelralak commented on #420
#417 breaks image upload tests as well. solution should also update failing test

[2018-07-31 04:28] akatrodiya commented on #381
@emurgobot claim

[2018-07-31 04:59] akatrodiya commented on #381
Done in #421

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-08-01 04:01] akatrodiya commented on #401
@emurgobot claim

[2018-08-01 04:44] akatrodiya commented on #397
@emurgobot claim

[2018-08-01 05:15] akatrodiya commented on #397
Done in #423

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-08-01 21:38] anbud commented on #420
@emurgobot claim

[2018-08-01 22:03] anbud commented on #420
Done in #424.

[2018-08-02 04:12] akatrodiya commented on #395
@emurgobot claim

[2018-08-02 04:36] akatrodiya commented on #395
Done in #425

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-08-02 04:42] akatrodiya commented on #390
@emurgobot claim

[2018-08-02 04:48] akatrodiya commented on #390
Done in #426

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-08-02 04:49] akatrodiya commented on #389
Done in #423

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-08-06 05:26] #420 closed

[2018-08-06 05:26] #401 closed

[2018-08-06 05:26] #399 closed

[2018-08-06 05:26] #398 closed

[2018-08-06 05:26] #397 closed

[2018-08-06 05:26] #395 closed

[2018-08-06 05:26] #390 closed

[2018-08-06 05:27] #389 closed

[2018-08-06 05:27] #381 closed

[2018-08-06 05:27] #380 closed

[2018-08-06 05:27] #379 closed

[2018-08-08 03:54] akatrodiya commented on #392
@emurgobot claim

[2018-08-08 04:30] akatrodiya commented on #392
Done in #429

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-08-10 04:21] akatrodiya opened #430 "Problem: [Small screen] On page load side menu is not hidden"
Problem: [Small screen] On page load side menu is not hidden, but after resize window, it set as hidden.

Solutoin: Best mobile/small screen experience it on page load hide side menu, and on menu button click open it, so hide side menu on page load.

[2018-08-10 04:27] akatrodiya opened #431 "Problem: [Side menu] Online user section overlap menu items"
Problem: [Side menu] Online user section overlap menu items, so if more users are online then it cover all height and it is not scrollable.

Solution: Set max height for online user section, and scroll that section is more users are online

[2018-08-13 04:08] akatrodiya commented on #431
@emurgobot claim

[2018-08-13 04:39] akatrodiya commented on #431
Done in #433

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-08-13 04:46] akatrodiya commented on #430
@emurgobot claim

[2018-08-13 04:56] akatrodiya commented on #430
Done in #434

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-09-06 08:03] gazhayes commented on #431
@emurgobot claim

[2018-09-06 08:03] #431 closed

[2018-09-06 08:09] #430 closed

[2018-09-06 08:09] #392 closed

[2018-09-12 13:12] gazhayes opened #435 "problem: not all authors are in the authors file"
problem: not all authors are in the authors file

solution: everyone add their details to the authors file, also do this for any other emurgo projects you have worked on.

[2018-09-13 22:55] anbud commented on #435
I've added my name to all of them.

[2018-09-18 11:43] gazhayes opened #439 "problem: image upload directory has changed"
problem: the image upload director has changed from this:
/home/gareth/static/static/images/emurgis/
accessible via emurgis.org/images/emurgis/

to this:
/home/gareth/emurgis_assets/static/images/
accesible via emurgis.org/images/

Code and tests need to be updated.

[2018-09-18 11:55] anbud commented on #439
@emurgobot claim

[2018-09-19 12:53] MadanBhandari opened #441 "Problem : Edit user profile not available"
Problem : User can't update profile like name, email etc.
Solution :
Add edit user profile page where user can edit name and email

[2018-09-19 12:53] MadanBhandari commented on #441
@emurgobot claim

[2018-09-19 14:44] anbud commented on #439
Done in #442.

@emurgobot done

[2018-09-20 06:43] MadanBhandari commented on #441
@emurgobot done

[2018-09-20 06:52] MadanBhandari opened #444 "Problem : Signup page content and UX is not good"
Problem : Signup page content and UX is not good
Solution :
 - Keep single form for signup
 - Add Name & User Name on Signup Form

[2018-09-20 06:55] MadanBhandari opened #445 "Problem : Multiple usernames are not useful"
Problem : Multiple usernames are not useful

Solution :
Keep only one and unique username for every user.

_**Question** : Is there any specific requirement for multiple usernames or use case ?_

ping : @gazhayes

[2018-09-20 06:56] MadanBhandari commented on #444
@emurgobot claim
@emurgobot label "UI-UX"

[2018-09-20 07:02] anbud commented on #445
I believe they're used as nicknames for the mentioning system, I'm not sure if they should be removed.

[2018-09-20 07:05] gazhayes commented on #445
Yeah they are for mentions, so we need them

[2018-09-20 07:05] #445 closed

[2018-09-20 07:35] MadanBhandari commented on #444
Done in #446
@emurgobot done

[2018-09-20 10:12] gazhayes opened #447 "problem: some dependencies have security issues"
problem: some dependencies have security issues
<img width="749" alt="screen shot 2018-09-20 at 6 11 44 pm" src="https://user-images.githubusercontent.com/8143945/45811825-be96be80-bd00-11e8-82dc-fd1d930fe15c.png">

[2018-09-20 10:13] samuelralak commented on #447
@emurgobot claim

On Thu, 20 Sep 2018 at 13:12, Gareth Hayes <notifications@github.com> wrote:

[2018-09-20 12:36] samuelralak commented on #447
@emurgobot done

don in #448

[2018-09-20 14:30] MadanBhandari commented on #391
This issue still exist ?

[2018-09-20 17:27] MadanBhandari commented on #391
I'll look into this.

@emergobot claim

[2018-09-20 17:31] MadanBhandari commented on #391
@emurgobot claim

[2018-09-21 05:40] MadanBhandari commented on #391
Related Issue #390 and fixed in #426

I'll looking into remaining table.

[2018-09-23 12:51] MadanBhandari commented on #391
Done in #449

@emurgobot done

[2018-09-23 12:51] #441 closed

[2018-09-23 12:52] #444 closed

[2018-09-24 07:11] MadanBhandari commented on #391
@gazhayes I can't close this issue, this is fixed, please check and close.

[2018-09-24 07:40] #391 closed

[2018-10-02 01:35] #447 closed

[2018-10-02 01:35] #439 closed

[2018-10-02 01:35] #435 closed